/*=== VARIABLES ===*/
$primary-color:#00b6f4;
$secondary-color:#ffbd1e;
$border-color:#e6eaf0;
$text-color:#979797;
$text-light:#ffffff;
$border-light:rgba(#ffffff,0.5);
$primary-ribbon-shade:#23658f;
$secondary-ribbon-shade:#a33a3a;
$dark-bg:#2c343b;

@function tint($primary-color, $percentage) {
  @return mix(white, $primary-color, $percentage);
}