.coming-soon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 150px 0;
}

.block {
  .syotimer {
    &-cell {
      height: 120px;
      width: 120px;

      @include desktop {
        margin-bottom: 14px;
      }

      &__value {
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 10px;
        color: $white;
      }

      &__unit {
        font-size: 20px;
        color: $text-color-light;
      }
    }
  }
}