.main-wrapper-section {
  margin-top: 80px;

  @include desktop {
    margin-top: 0;
  }
}

.cta {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.product {
  position: relative;
  overflow: hidden;
  .img-second{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(.9);
    transition: .2s linear;
  }
  .img-first{
    transform: scale(1);
    opacity: 1;
    transition: .2s linear;
  }
  .btn-cart{
    position: absolute;
    width: 100%;
    bottom: -50px;
    background: rgba($color: $white, $alpha: .5);
    padding: 10px 0;
    transition: .3s ease;
  }
  &-label{
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 0 10px;
    border-radius: 5px;
    transform: skewX(-10deg);
    font-size: 10px;
    &.sale{
      background: #ff3385;
      color: $white;
    }
    &.new{
      background: #667eea;
      color: $white;
    }
  }
  &:hover {
    .img-second{
      opacity: 1;
      transform: scale(1);
    }
    .img-first{
      transform: scale(.9);
      opacity: .5;
    }
    .favorite,
    .cart,
    .view {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .btn-cart{
      bottom: 15px;
    }
  }

  &-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background: $white;
    right: 10px;
    outline: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.5);

    i {
      line-height: 50px;
      color: $text-color;
      text-align: center;
      transition: .3s ease;
    }

    &:hover {
      i {
        color: $primary-color;
      }
    }

    &.favorite {
      top: 10px;
    }

    &.cart {
      top: 70px;
    }

    &.view {
      top: 130px;
    }
  }
}

.quickview {
  display: none;
}

.slick-dots {
  text-align: center;
  padding-left: 0;
  margin-top: 40px;

  li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

    button {
      color: transparent;
      height: 10px;
      width: 10px;
      padding: 0;
      border: 1px solid $border-color;
      border-radius: 50%;
      background: transparent;
      outline: 0;
    }

    &.slick-active {
      button {
        background: $black;
        border-color: $black;
      }
    }
  }
}


.syotimer {
  margin-bottom: 40px;

  &-cell {
    display: inline-block;
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid $border-color;
    text-align: center;
    margin: 0 7px;

    @include mobile {
      margin-right: 2px;
    }

    @include mobile-xs {
      height: 50px;
      width: 50px;
    }

    &__value {
      font-size: 20px;
      color: $text-color;
      margin-bottom: 0;
      line-height: 25px;
      margin-top: 8px;

      @include mobile-xs {
        font-size: 18px;
        line-height: 15px;
      }
    }

    &__unit {
      text-transform: capitalize;
      font-size: 12px;
      color: $text-color;
    }
  }

  &.large {
    .syotimer {
      &-cell {
        height: 100px;
        width: 100px;

        @include desktop {
          margin-bottom: 20px;
        }

        &__value {
          font-size: 25px;
          font-weight: 700;
          margin-top: 25px;
        }

        &__unit {
          font-size: 14px;
          color: $text-color-light;
        }
      }
    }
  }

  &.dark {
    .syotimer {
      &-cell {
        background: #3f434e;
        border: 0;

        &__value {
          color: $white;
        }

        &__unit {
          color: $white;
        }
      }
    }
  }
}

.up-down {
  position: relative;
  animation-name: up-down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes up-down {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(7px)
  }

  100% {
    transform: translateY(0);
  }
}

.form-control {
  border-radius: 40px;
  padding: 0 30px;
  height: 55px;
  width: 100%;

  &:focus {
    box-shadow: none;
    border-color: $primary-color;
  }
}

select.form-control {
  height: 55px !important;
}

.nice-select ul {
  width: 100%;
}

.instagram-slider {
  @include desktop {
    overflow: hidden;
  }

  .slick-list {
    overflow: visible;
  }
}

.instagram-post {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: $black, $alpha: .5);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
  }

  ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;

    a {
      transition: .2s ease;

      &:hover {
        color: $primary-color !important;
      }
    }
  }

  &:hover {
    &::before {
      visibility: visible;
      opacity: 1;
    }

    ul {
      visibility: visible;
      opacity: 1;
    }
  }
}

.service-icon {
  font-size: 45px;
  color: $text-color-light;
  margin-right: 20px;
}

.service-icon-sm {
  font-size: 35px;
  color: $text-color;
  margin-right: 15px;
}

.social-icon-alt {
  li {
    margin: 0;

    &:first-child {
      margin-left: 0;
    }

    a {
      padding: 12px;
      display: inline-block;
      color: $text-color;
      transition: .2s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

footer {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.categories-list {

  li {
    flex-basis: 33.33%;

    &:not(:last-child) {
      border-right: 1px solid $border-color;
    }
  }
}

.hover-zoom-img {
  overflow: hidden;

  img {
    transition: .3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}