.top-header {
  padding: 5px 40px;
  background: $dark;

  @include mobile {
    padding: 5px 10px;
  }

  p {
    font-size: 12px;
  }

  ul {
    li {
      margin: 0;
      border-right: 1px solid $border-color-dark;
      padding: 0 20px;
      position: relative;

      @include mobile {
        padding: 0 10px;
      }

      a {
        color: $white;
        font-size: 12px;
        &:hover, &.active{
          color: $primary-color;
        }
      }

      &:last-child {
        border: 0;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.country {
  background: transparent;
  color: $white;
  border: 0;
  padding-left: 0;
  line-height: unset;
  float: none;
  height: unset;
  font-size: 12px;

  ul {
    background: $dark !important;

    li {
      border-right: 0;
      &:hover,
      &.selected {
        color: $white;
        background: $black !important;
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: $white;
  box-shadow: 0 2px 5px #0000000d;

  @include desktop {
    position: static;
  }
}


.search {
  display: inline-block;

  &-btn {
    height: 45px;
    width: 45px;
    padding: 0;
    line-height: 45px;
    font-size: 17px;
    margin-right: 10px;
    border: 0;
    border-radius: 40px;
    background: $gray;

    &:focus {
      outline: 0;
    }
  }

  &-wrapper {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 80px;
    background: $dark;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s ease;
    z-index: 9;
    visibility: hidden;
    opacity: 0;

    @include desktop {
      top: 110%;
    }

    &.open {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible;
    }
  }

  &-box {
    height: 80px;
    width: 100%;
    background: transparent;
    border: 0;
    color: $white;
    padding: 0 40px;

    &:focus {
      outline: 0;
    }
  }

  &-icon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    padding: 10px;
    color: $white;

    &:focus {
      outline: 0;
    }
  }

  &-close {
    position: relative;

    &::before {
      position: absolute;
      content: "x";
      top: 0;
      left: 0;
      height: 45px;
      width: 45px;
      background: $gray;
      border-radius: 40px;
      transform: scale(1);
      transition: .2s ease;
    }
  }
}

.cart {
  display: inline-block;

  &-btn {
    height: 45px;
    padding: 0 25px;
    line-height: 45px;
    font-size: 13px;
    border: 0;
    border-radius: 40px;
    background: $gray;

    &:focus {
      outline: 0;
    }

    i {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &-wrapper {
    position: absolute;
    top: 100%;
    right: 40px;
    padding: 45px;
    text-align: left;
    background: $white;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-40px);
    transform-origin: 100% 0;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    z-index: 9;

    @include desktop {
      top: 110%;
    }

    @include mobile {
      right: 0;
      padding: 10px;
    }

    &.open {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }

    li {
      padding: 15px 30px 15px 0;
      position: relative;

      i {
        font-size: 10px;
        position: absolute;
        top: 10px;
        right: 0px;
        cursor: pointer;
        padding: 10px;
        transition: .2s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
    transition: .2s ease;

    &:hover {
      color: $primary-color;
    }
  }
}

.navbar {
  padding: 0 40px;

  @include desktop {
    padding: 10px 40px;
  }

  @include mobile {
    padding: 10px;
  }

  &-brand {
    z-index: 1;

    @include desktop {
      margin-left: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @include tablet {
      left: 40%;
    }

    @include mobile {
      left: 35%;
      max-width: 200px;
    }
    @include mobile-xs {
      max-width: 100px;
    }
  }

  &-nav {
    z-index: 1;
  }

  &-toggler {
    z-index: 1;
    border: 0;
  }

  .nav-item {
    @include desktop {
      text-align: center;
    }

    .nav-link {
      text-transform: uppercase;
      font-size: 15px;
      padding: 20px;
      display: inline-block;
      @include desktop-lg-only {
        padding: 20px 10px;
      }
    }
  }

  .dropdown {
    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }
    }

    &.mega-dropdown {
      position: static;
    }

    &-menu {
      padding: 0 15px;
      border: 0;
      border-radius: 0;
      background: $dark;
      top: 95%;
      left: 0;
      display: block;
      visibility: hidden;
      transition: .3s ease;
      opacity: 0;
      transform: scale(.7);
      transform-origin: top;

      @include desktop {
        display: none;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

      &.show {
        visibility: visible;
        opacity: 1;

        @include desktop {
          display: block;
        }
      }
      &.mega-menu{
        top: 95%;
      }
    }

    &-item {
      color: #c3c3c3;
      transition: .2s ease;
      padding: 10px 0;
      display: block;

      @include desktop {
        text-align: center;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $border-color-dark;
      }

      &:hover {
        color: $white;
        background: transparent;
      }
    }
  }

  .mega-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;

    @include desktop {
      display: none;
      text-align: center;
    }

    &-item {
      flex-basis: 14%;

      @include desktop {
        margin-bottom: 40px;
      }
    }

    &-image {
      flex-basis: 44%;
    }

    h6 {
      margin-bottom: 10px;
      color: $white;
    }

    ul {
      li {
        &:last-child {
          a {
            border-bottom: 0;

            @include desktop {
              border-bottom: 1px solid $border-color-dark;
            }
          }
        }

        a {
          display: block;
          padding: 5px 0;
          color: #c3c3c3;
          transition: .2s ease;
          font-size: 12px;
          border-bottom: 1px solid $border-color-dark;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  &-right-elements {
    @include desktop {
      position: absolute;
      left: 0;
      width: 100%;
      top: 6px;
      text-align: right;
    }

    .search-cart {
      @include desktop {
        margin-right: 40px;
      }

      @include mobile {
        margin-right: 10px;
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color;
  transition: .2s ease;

  &:hover {
    color: $primary-color;
  }
}