.inner-wrapper{
    padding: 20px;
    .nav{
        border-bottom: 2px solid $primary-color;
        &-item{
            padding: 20px 15px;
            flex-basis: 33.3333%;
            i{
                font-size: 20px;
                color: $primary-color;
            }
            &.active{
                background: $primary-color;
                i,span{
                    color: $white;
                }
            }
        }
    }
    .form-control{
        margin-bottom: 30px;
    }
}

.border-box{
    border: 2px solid $border-color;
}