@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?sxqadk');
    src:    url('fonts/icomoon.eot?sxqadk#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?sxqadk') format('truetype'),
        url('fonts/icomoon.woff?sxqadk') format('woff'),
        url('fonts/icomoon.svg?sxqadk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-booking:before {
    content: "\ebf1";
}
.icomoon-drink5:before {
    content: "\ebf2";
}
.icomoon-parking:before {
    content: "\ebf3";
}
.icomoon-people:before {
    content: "\ebf4";
}
.icomoon-smoke-free:before {
    content: "\ebf5";
}
.icomoon-tea:before {
    content: "\ebf6";
}
.icomoon-television:before {
    content: "\ebf7";
}
.icomoon-wifi:before {
    content: "\ebf8";
}
.icomoon-sunrise:before {
    content: "\e900";
}
.icomoon-sun:before {
    content: "\e901";
}
.icomoon-moon:before {
    content: "\e902";
}
.icomoon-sun2:before {
    content: "\e903";
}
.icomoon-windy:before {
    content: "\e904";
}
.icomoon-wind:before {
    content: "\e905";
}
.icomoon-snowflake:before {
    content: "\e906";
}
.icomoon-cloudy:before {
    content: "\e907";
}
.icomoon-cloud:before {
    content: "\e908";
}
.icomoon-weather:before {
    content: "\e909";
}
.icomoon-weather2:before {
    content: "\e90a";
}
.icomoon-weather3:before {
    content: "\e90b";
}
.icomoon-lines:before {
    content: "\e90c";
}
.icomoon-cloud2:before {
    content: "\e90d";
}
.icomoon-lightning:before {
    content: "\e90e";
}
.icomoon-lightning2:before {
    content: "\e90f";
}
.icomoon-rainy:before {
    content: "\e910";
}
.icomoon-rainy2:before {
    content: "\e911";
}
.icomoon-windy2:before {
    content: "\e912";
}
.icomoon-windy3:before {
    content: "\e913";
}
.icomoon-snowy:before {
    content: "\e914";
}
.icomoon-snowy2:before {
    content: "\e915";
}
.icomoon-snowy3:before {
    content: "\e916";
}
.icomoon-weather4:before {
    content: "\e917";
}
.icomoon-cloudy2:before {
    content: "\e918";
}
.icomoon-cloud3:before {
    content: "\e919";
}
.icomoon-lightning3:before {
    content: "\e91a";
}
.icomoon-sun3:before {
    content: "\e91b";
}
.icomoon-moon2:before {
    content: "\e91c";
}
.icomoon-cloudy3:before {
    content: "\e91d";
}
.icomoon-cloud4:before {
    content: "\e91e";
}
.icomoon-cloud5:before {
    content: "\e91f";
}
.icomoon-lightning4:before {
    content: "\e920";
}
.icomoon-rainy3:before {
    content: "\e921";
}
.icomoon-rainy4:before {
    content: "\e922";
}
.icomoon-windy4:before {
    content: "\e923";
}
.icomoon-windy5:before {
    content: "\e924";
}
.icomoon-snowy4:before {
    content: "\e925";
}
.icomoon-snowy5:before {
    content: "\e926";
}
.icomoon-weather5:before {
    content: "\e927";
}
.icomoon-cloudy4:before {
    content: "\e928";
}
.icomoon-lightning5:before {
    content: "\e929";
}
.icomoon-thermometer:before {
    content: "\e92a";
}
.icomoon-compass:before {
    content: "\e92b";
}
.icomoon-none:before {
    content: "\e92c";
}
.icomoon-Celsius:before {
    content: "\e92d";
}
.icomoon-Fahrenheit:before {
    content: "\e92e";
}
.icomoon-number:before {
    content: "\e92f";
}
.icomoon-number2:before {
    content: "\e930";
}
.icomoon-number3:before {
    content: "\e931";
}
.icomoon-number4:before {
    content: "\e932";
}
.icomoon-number5:before {
    content: "\e933";
}
.icomoon-number6:before {
    content: "\e934";
}
.icomoon-number7:before {
    content: "\e935";
}
.icomoon-number8:before {
    content: "\e936";
}
.icomoon-number9:before {
    content: "\e937";
}
.icomoon-number10:before {
    content: "\e938";
}
.icomoon-number11:before {
    content: "\e939";
}
.icomoon-number12:before {
    content: "\e93a";
}
.icomoon-number13:before {
    content: "\e93b";
}
.icomoon-number14:before {
    content: "\e93c";
}
.icomoon-number15:before {
    content: "\e93d";
}
.icomoon-number16:before {
    content: "\e93e";
}
.icomoon-number17:before {
    content: "\e93f";
}
.icomoon-number18:before {
    content: "\e940";
}
.icomoon-number19:before {
    content: "\e941";
}
.icomoon-number20:before {
    content: "\e942";
}
.icomoon-quote:before {
    content: "\e943";
}
.icomoon-quote2:before {
    content: "\e944";
}
.icomoon-tag:before {
    content: "\e945";
}
.icomoon-tag2:before {
    content: "\e946";
}
.icomoon-link:before {
    content: "\e947";
}
.icomoon-link2:before {
    content: "\e948";
}
.icomoon-cabinet:before {
    content: "\e949";
}
.icomoon-cabinet2:before {
    content: "\e94a";
}
.icomoon-calendar:before {
    content: "\e94b";
}
.icomoon-calendar2:before {
    content: "\e94c";
}
.icomoon-calendar3:before {
    content: "\e94d";
}
.icomoon-file:before {
    content: "\e94e";
}
.icomoon-file2:before {
    content: "\e94f";
}
.icomoon-file3:before {
    content: "\e950";
}
.icomoon-files:before {
    content: "\e951";
}
.icomoon-phone:before {
    content: "\e952";
}
.icomoon-tablet:before {
    content: "\e953";
}
.icomoon-window:before {
    content: "\e954";
}
.icomoon-monitor:before {
    content: "\e955";
}
.icomoon-ipod:before {
    content: "\e956";
}
.icomoon-tv:before {
    content: "\e957";
}
.icomoon-camera:before {
    content: "\e958";
}
.icomoon-camera2:before {
    content: "\e959";
}
.icomoon-camera3:before {
    content: "\e95a";
}
.icomoon-film:before {
    content: "\e95b";
}
.icomoon-film2:before {
    content: "\e95c";
}
.icomoon-film3:before {
    content: "\e95d";
}
.icomoon-microphone:before {
    content: "\e95e";
}
.icomoon-microphone2:before {
    content: "\e95f";
}
.icomoon-microphone3:before {
    content: "\e960";
}
.icomoon-drink:before {
    content: "\e961";
}
.icomoon-drink2:before {
    content: "\e962";
}
.icomoon-drink3:before {
    content: "\e963";
}
.icomoon-drink4:before {
    content: "\e964";
}
.icomoon-coffee:before {
    content: "\e965";
}
.icomoon-mug:before {
    content: "\e966";
}
.icomoon-icecream:before {
    content: "\e967";
}
.icomoon-cake:before {
    content: "\e968";
}
.icomoon-inbox:before {
    content: "\e969";
}
.icomoon-download:before {
    content: "\e96a";
}
.icomoon-upload:before {
    content: "\e96b";
}
.icomoon-inbox2:before {
    content: "\e96c";
}
.icomoon-checkmark:before {
    content: "\e96d";
}
.icomoon-checkmark2:before {
    content: "\e96e";
}
.icomoon-cancel:before {
    content: "\e96f";
}
.icomoon-cancel2:before {
    content: "\e970";
}
.icomoon-plus:before {
    content: "\e971";
}
.icomoon-plus2:before {
    content: "\e972";
}
.icomoon-minus:before {
    content: "\e973";
}
.icomoon-minus2:before {
    content: "\e974";
}
.icomoon-notice:before {
    content: "\e975";
}
.icomoon-notice2:before {
    content: "\e976";
}
.icomoon-cog:before {
    content: "\e977";
}
.icomoon-cogs:before {
    content: "\e978";
}
.icomoon-cog2:before {
    content: "\e979";
}
.icomoon-warning:before {
    content: "\e97a";
}
.icomoon-health:before {
    content: "\e97b";
}
.icomoon-suitcase:before {
    content: "\e97c";
}
.icomoon-suitcase2:before {
    content: "\e97d";
}
.icomoon-suitcase3:before {
    content: "\e97e";
}
.icomoon-picture:before {
    content: "\e97f";
}
.icomoon-pictures:before {
    content: "\e980";
}
.icomoon-pictures2:before {
    content: "\e981";
}
.icomoon-android:before {
    content: "\e982";
}
.icomoon-marvin:before {
    content: "\e983";
}
.icomoon-pacman:before {
    content: "\e984";
}
.icomoon-cassette:before {
    content: "\e985";
}
.icomoon-watch:before {
    content: "\e986";
}
.icomoon-chronometer:before {
    content: "\e987";
}
.icomoon-watch2:before {
    content: "\e988";
}
.icomoon-alarmclock:before {
    content: "\e989";
}
.icomoon-time:before {
    content: "\e98a";
}
.icomoon-time2:before {
    content: "\e98b";
}
.icomoon-headphones:before {
    content: "\e98c";
}
.icomoon-wallet:before {
    content: "\e98d";
}
.icomoon-checkmark3:before {
    content: "\e98e";
}
.icomoon-cancel3:before {
    content: "\e98f";
}
.icomoon-eye:before {
    content: "\e990";
}
.icomoon-position:before {
    content: "\e991";
}
.icomoon-sitemap:before {
    content: "\e992";
}
.icomoon-sitemap2:before {
    content: "\e993";
}
.icomoon-cloud6:before {
    content: "\e994";
}
.icomoon-upload2:before {
    content: "\e995";
}
.icomoon-chart:before {
    content: "\e996";
}
.icomoon-chart2:before {
    content: "\e997";
}
.icomoon-chart3:before {
    content: "\e998";
}
.icomoon-chart4:before {
    content: "\e999";
}
.icomoon-chart5:before {
    content: "\e99a";
}
.icomoon-chart6:before {
    content: "\e99b";
}
.icomoon-location:before {
    content: "\e99c";
}
.icomoon-download2:before {
    content: "\e99d";
}
.icomoon-basket:before {
    content: "\e99e";
}
.icomoon-folder:before {
    content: "\e99f";
}
.icomoon-gamepad:before {
    content: "\e9a0";
}
.icomoon-alarm:before {
    content: "\e9a1";
}
.icomoon-alarm-cancel:before {
    content: "\e9a2";
}
.icomoon-phone2:before {
    content: "\e9a3";
}
.icomoon-phone3:before {
    content: "\e9a4";
}
.icomoon-image:before {
    content: "\e9a5";
}
.icomoon-open:before {
    content: "\e9a6";
}
.icomoon-sale:before {
    content: "\e9a7";
}
.icomoon-direction:before {
    content: "\e9a8";
}
.icomoon-map:before {
    content: "\e9a9";
}
.icomoon-trashcan:before {
    content: "\e9aa";
}
.icomoon-vote:before {
    content: "\e9ab";
}
.icomoon-graduate:before {
    content: "\e9ac";
}
.icomoon-lab:before {
    content: "\e9ad";
}
.icomoon-tie:before {
    content: "\e9ae";
}
.icomoon-football:before {
    content: "\e9af";
}
.icomoon-eightball:before {
    content: "\e9b0";
}
.icomoon-bowling:before {
    content: "\e9b1";
}
.icomoon-bowlingpin:before {
    content: "\e9b2";
}
.icomoon-baseball:before {
    content: "\e9b3";
}
.icomoon-soccer:before {
    content: "\e9b4";
}
.icomoon-3dglasses:before {
    content: "\e9b5";
}
.icomoon-microwave:before {
    content: "\e9b6";
}
.icomoon-refrigerator:before {
    content: "\e9b7";
}
.icomoon-oven:before {
    content: "\e9b8";
}
.icomoon-washingmachine:before {
    content: "\e9b9";
}
.icomoon-mouse:before {
    content: "\e9ba";
}
.icomoon-smiley:before {
    content: "\e9bb";
}
.icomoon-sad:before {
    content: "\e9bc";
}
.icomoon-mute:before {
    content: "\e9bd";
}
.icomoon-hand:before {
    content: "\e9be";
}
.icomoon-radio:before {
    content: "\e9bf";
}
.icomoon-satellite:before {
    content: "\e9c0";
}
.icomoon-medal:before {
    content: "\e9c1";
}
.icomoon-medal2:before {
    content: "\e9c2";
}
.icomoon-switch:before {
    content: "\e9c3";
}
.icomoon-key:before {
    content: "\e9c4";
}
.icomoon-cord:before {
    content: "\e9c5";
}
.icomoon-locked:before {
    content: "\e9c6";
}
.icomoon-unlocked:before {
    content: "\e9c7";
}
.icomoon-locked2:before {
    content: "\e9c8";
}
.icomoon-unlocked2:before {
    content: "\e9c9";
}
.icomoon-magnifier:before {
    content: "\e9ca";
}
.icomoon-zoomin:before {
    content: "\e9cb";
}
.icomoon-zoomout:before {
    content: "\e9cc";
}
.icomoon-stack:before {
    content: "\e9cd";
}
.icomoon-stack2:before {
    content: "\e9ce";
}
.icomoon-stack3:before {
    content: "\e9cf";
}
.icomoon-davidstar:before {
    content: "\e9d0";
}
.icomoon-cross:before {
    content: "\e9d1";
}
.icomoon-moonandstar:before {
    content: "\e9d2";
}
.icomoon-transformers:before {
    content: "\e9d3";
}
.icomoon-batman:before {
    content: "\e9d4";
}
.icomoon-spaceinvaders:before {
    content: "\e9d5";
}
.icomoon-skeletor:before {
    content: "\e9d6";
}
.icomoon-lamp:before {
    content: "\e9d7";
}
.icomoon-lamp2:before {
    content: "\e9d8";
}
.icomoon-umbrella:before {
    content: "\e9d9";
}
.icomoon-streetlight:before {
    content: "\e9da";
}
.icomoon-bomb:before {
    content: "\e9db";
}
.icomoon-archive:before {
    content: "\e9dc";
}
.icomoon-battery:before {
    content: "\e9dd";
}
.icomoon-battery2:before {
    content: "\e9de";
}
.icomoon-battery3:before {
    content: "\e9df";
}
.icomoon-battery4:before {
    content: "\e9e0";
}
.icomoon-battery5:before {
    content: "\e9e1";
}
.icomoon-megaphone:before {
    content: "\e9e2";
}
.icomoon-megaphone2:before {
    content: "\e9e3";
}
.icomoon-patch:before {
    content: "\e9e4";
}
.icomoon-pil:before {
    content: "\e9e5";
}
.icomoon-injection:before {
    content: "\e9e6";
}
.icomoon-thermometer2:before {
    content: "\e9e7";
}
.icomoon-lamp3:before {
    content: "\e9e8";
}
.icomoon-lamp4:before {
    content: "\e9e9";
}
.icomoon-lamp5:before {
    content: "\e9ea";
}
.icomoon-cube:before {
    content: "\e9eb";
}
.icomoon-box:before {
    content: "\e9ec";
}
.icomoon-box2:before {
    content: "\e9ed";
}
.icomoon-diamond:before {
    content: "\e9ee";
}
.icomoon-bag:before {
    content: "\e9ef";
}
.icomoon-moneybag:before {
    content: "\e9f0";
}
.icomoon-grid:before {
    content: "\e9f1";
}
.icomoon-grid2:before {
    content: "\e9f2";
}
.icomoon-list:before {
    content: "\e9f3";
}
.icomoon-list2:before {
    content: "\e9f4";
}
.icomoon-ruler:before {
    content: "\e9f5";
}
.icomoon-ruler2:before {
    content: "\e9f6";
}
.icomoon-layout:before {
    content: "\e9f7";
}
.icomoon-layout2:before {
    content: "\e9f8";
}
.icomoon-layout3:before {
    content: "\e9f9";
}
.icomoon-layout4:before {
    content: "\e9fa";
}
.icomoon-layout5:before {
    content: "\e9fb";
}
.icomoon-layout6:before {
    content: "\e9fc";
}
.icomoon-layout7:before {
    content: "\e9fd";
}
.icomoon-layout8:before {
    content: "\e9fe";
}
.icomoon-layout9:before {
    content: "\e9ff";
}
.icomoon-layout10:before {
    content: "\ea00";
}
.icomoon-layout11:before {
    content: "\ea01";
}
.icomoon-layout12:before {
    content: "\ea02";
}
.icomoon-layout13:before {
    content: "\ea03";
}
.icomoon-layout14:before {
    content: "\ea04";
}
.icomoon-tools:before {
    content: "\ea05";
}
.icomoon-screwdriver:before {
    content: "\ea06";
}
.icomoon-paint:before {
    content: "\ea07";
}
.icomoon-hammer:before {
    content: "\ea08";
}
.icomoon-brush:before {
    content: "\ea09";
}
.icomoon-pen:before {
    content: "\ea0a";
}
.icomoon-chat:before {
    content: "\ea0b";
}
.icomoon-comments:before {
    content: "\ea0c";
}
.icomoon-chat2:before {
    content: "\ea0d";
}
.icomoon-chat3:before {
    content: "\ea0e";
}
.icomoon-volume:before {
    content: "\ea0f";
}
.icomoon-volume2:before {
    content: "\ea10";
}
.icomoon-volume3:before {
    content: "\ea11";
}
.icomoon-equalizer:before {
    content: "\ea12";
}
.icomoon-resize:before {
    content: "\ea13";
}
.icomoon-resize2:before {
    content: "\ea14";
}
.icomoon-stretch:before {
    content: "\ea15";
}
.icomoon-narrow:before {
    content: "\ea16";
}
.icomoon-resize3:before {
    content: "\ea17";
}
.icomoon-download3:before {
    content: "\ea18";
}
.icomoon-calculator:before {
    content: "\ea19";
}
.icomoon-library:before {
    content: "\ea1a";
}
.icomoon-auction:before {
    content: "\ea1b";
}
.icomoon-justice:before {
    content: "\ea1c";
}
.icomoon-stats:before {
    content: "\ea1d";
}
.icomoon-stats2:before {
    content: "\ea1e";
}
.icomoon-attachment:before {
    content: "\ea1f";
}
.icomoon-hourglass:before {
    content: "\ea20";
}
.icomoon-abacus:before {
    content: "\ea21";
}
.icomoon-pencil:before {
    content: "\ea22";
}
.icomoon-pen2:before {
    content: "\ea23";
}
.icomoon-pin:before {
    content: "\ea24";
}
.icomoon-pin2:before {
    content: "\ea25";
}
.icomoon-discout:before {
    content: "\ea26";
}
.icomoon-edit:before {
    content: "\ea27";
}
.icomoon-scissors:before {
    content: "\ea28";
}
.icomoon-profile:before {
    content: "\ea29";
}
.icomoon-profile2:before {
    content: "\ea2a";
}
.icomoon-profile3:before {
    content: "\ea2b";
}
.icomoon-rotate:before {
    content: "\ea2c";
}
.icomoon-rotate2:before {
    content: "\ea2d";
}
.icomoon-reply:before {
    content: "\ea2e";
}
.icomoon-forward:before {
    content: "\ea2f";
}
.icomoon-retweet:before {
    content: "\ea30";
}
.icomoon-shuffle:before {
    content: "\ea31";
}
.icomoon-loop:before {
    content: "\ea32";
}
.icomoon-crop:before {
    content: "\ea33";
}
.icomoon-square:before {
    content: "\ea34";
}
.icomoon-square2:before {
    content: "\ea35";
}
.icomoon-circle:before {
    content: "\ea36";
}
.icomoon-dollar:before {
    content: "\ea37";
}
.icomoon-dollar2:before {
    content: "\ea38";
}
.icomoon-coins:before {
    content: "\ea39";
}
.icomoon-pig:before {
    content: "\ea3a";
}
.icomoon-bookmark:before {
    content: "\ea3b";
}
.icomoon-bookmark2:before {
    content: "\ea3c";
}
.icomoon-addressbook:before {
    content: "\ea3d";
}
.icomoon-addressbook2:before {
    content: "\ea3e";
}
.icomoon-safe:before {
    content: "\ea3f";
}
.icomoon-envelope:before {
    content: "\ea40";
}
.icomoon-envelope2:before {
    content: "\ea41";
}
.icomoon-radioactive:before {
    content: "\ea42";
}
.icomoon-music:before {
    content: "\ea43";
}
.icomoon-presentation:before {
    content: "\ea44";
}
.icomoon-male:before {
    content: "\ea45";
}
.icomoon-female:before {
    content: "\ea46";
}
.icomoon-aids:before {
    content: "\ea47";
}
.icomoon-heart:before {
    content: "\ea48";
}
.icomoon-info:before {
    content: "\ea49";
}
.icomoon-info2:before {
    content: "\ea4a";
}
.icomoon-piano:before {
    content: "\ea4b";
}
.icomoon-rain:before {
    content: "\ea4c";
}
.icomoon-snow:before {
    content: "\ea4d";
}
.icomoon-lightning6:before {
    content: "\ea4e";
}
.icomoon-sun4:before {
    content: "\ea4f";
}
.icomoon-moon3:before {
    content: "\ea50";
}
.icomoon-cloudy5:before {
    content: "\ea51";
}
.icomoon-cloudy6:before {
    content: "\ea52";
}
.icomoon-car:before {
    content: "\ea53";
}
.icomoon-bike:before {
    content: "\ea54";
}
.icomoon-truck:before {
    content: "\ea55";
}
.icomoon-bus:before {
    content: "\ea56";
}
.icomoon-bike2:before {
    content: "\ea57";
}
.icomoon-plane:before {
    content: "\ea58";
}
.icomoon-paperplane:before {
    content: "\ea59";
}
.icomoon-rocket:before {
    content: "\ea5a";
}
.icomoon-book:before {
    content: "\ea5b";
}
.icomoon-book2:before {
    content: "\ea5c";
}
.icomoon-barcode:before {
    content: "\ea5d";
}
.icomoon-barcode2:before {
    content: "\ea5e";
}
.icomoon-expand:before {
    content: "\ea5f";
}
.icomoon-collapse:before {
    content: "\ea60";
}
.icomoon-popout:before {
    content: "\ea61";
}
.icomoon-popin:before {
    content: "\ea62";
}
.icomoon-target:before {
    content: "\ea63";
}
.icomoon-badge:before {
    content: "\ea64";
}
.icomoon-badge2:before {
    content: "\ea65";
}
.icomoon-ticket:before {
    content: "\ea66";
}
.icomoon-ticket2:before {
    content: "\ea67";
}
.icomoon-ticket3:before {
    content: "\ea68";
}
.icomoon-microphone4:before {
    content: "\ea69";
}
.icomoon-cone:before {
    content: "\ea6a";
}
.icomoon-blocked:before {
    content: "\ea6b";
}
.icomoon-stop:before {
    content: "\ea6c";
}
.icomoon-keyboard:before {
    content: "\ea6d";
}
.icomoon-keyboard2:before {
    content: "\ea6e";
}
.icomoon-radio2:before {
    content: "\ea6f";
}
.icomoon-printer:before {
    content: "\ea70";
}
.icomoon-checked:before {
    content: "\ea71";
}
.icomoon-error:before {
    content: "\ea72";
}
.icomoon-add:before {
    content: "\ea73";
}
.icomoon-minus3:before {
    content: "\ea74";
}
.icomoon-alert:before {
    content: "\ea75";
}
.icomoon-pictures3:before {
    content: "\ea76";
}
.icomoon-atom:before {
    content: "\ea77";
}
.icomoon-eyedropper:before {
    content: "\ea78";
}
.icomoon-globe:before {
    content: "\ea79";
}
.icomoon-globe2:before {
    content: "\ea7a";
}
.icomoon-shipping:before {
    content: "\ea7b";
}
.icomoon-yingyang:before {
    content: "\ea7c";
}
.icomoon-compass2:before {
    content: "\ea7d";
}
.icomoon-zip:before {
    content: "\ea7e";
}
.icomoon-zip2:before {
    content: "\ea7f";
}
.icomoon-anchor:before {
    content: "\ea80";
}
.icomoon-lockedheart:before {
    content: "\ea81";
}
.icomoon-magnet:before {
    content: "\ea82";
}
.icomoon-navigation:before {
    content: "\ea83";
}
.icomoon-tags:before {
    content: "\ea84";
}
.icomoon-heart2:before {
    content: "\ea85";
}
.icomoon-heart3:before {
    content: "\ea86";
}
.icomoon-usb:before {
    content: "\ea87";
}
.icomoon-clipboard:before {
    content: "\ea88";
}
.icomoon-clipboard2:before {
    content: "\ea89";
}
.icomoon-clipboard3:before {
    content: "\ea8a";
}
.icomoon-switch2:before {
    content: "\ea8b";
}
.icomoon-ruler3:before {
    content: "\ea8c";
}
.icomoon-heart4:before {
    content: "\ea8d";
}
.icomoon-cloud7:before {
    content: "\ea8e";
}
.icomoon-star:before {
    content: "\ea8f";
}
.icomoon-tv2:before {
    content: "\ea90";
}
.icomoon-sound:before {
    content: "\ea91";
}
.icomoon-video:before {
    content: "\ea92";
}
.icomoon-trash:before {
    content: "\ea93";
}
.icomoon-user:before {
    content: "\ea94";
}
.icomoon-key2:before {
    content: "\ea95";
}
.icomoon-search:before {
    content: "\ea96";
}
.icomoon-settings:before {
    content: "\ea97";
}
.icomoon-camera4:before {
    content: "\ea98";
}
.icomoon-tag3:before {
    content: "\ea99";
}
.icomoon-lock:before {
    content: "\ea9a";
}
.icomoon-bulb:before {
    content: "\ea9b";
}
.icomoon-pen3:before {
    content: "\ea9c";
}
.icomoon-diamond2:before {
    content: "\ea9d";
}
.icomoon-display:before {
    content: "\ea9e";
}
.icomoon-location2:before {
    content: "\ea9f";
}
.icomoon-eye2:before {
    content: "\eaa0";
}
.icomoon-bubble:before {
    content: "\eaa1";
}
.icomoon-stack4:before {
    content: "\eaa2";
}
.icomoon-cup:before {
    content: "\eaa3";
}
.icomoon-phone4:before {
    content: "\eaa4";
}
.icomoon-news:before {
    content: "\eaa5";
}
.icomoon-mail:before {
    content: "\eaa6";
}
.icomoon-like:before {
    content: "\eaa7";
}
.icomoon-photo:before {
    content: "\eaa8";
}
.icomoon-note:before {
    content: "\eaa9";
}
.icomoon-clock:before {
    content: "\eaaa";
}
.icomoon-paperplane2:before {
    content: "\eaab";
}
.icomoon-params:before {
    content: "\eaac";
}
.icomoon-banknote:before {
    content: "\eaad";
}
.icomoon-data:before {
    content: "\eaae";
}
.icomoon-music2:before {
    content: "\eaaf";
}
.icomoon-megaphone3:before {
    content: "\eab0";
}
.icomoon-study:before {
    content: "\eab1";
}
.icomoon-lab2:before {
    content: "\eab2";
}
.icomoon-food:before {
    content: "\eab3";
}
.icomoon-t-shirt:before {
    content: "\eab4";
}
.icomoon-fire:before {
    content: "\eab5";
}
.icomoon-clip:before {
    content: "\eab6";
}
.icomoon-shop:before {
    content: "\eab7";
}
.icomoon-calendar4:before {
    content: "\eab8";
}
.icomoon-wallet2:before {
    content: "\eab9";
}
.icomoon-vynil:before {
    content: "\eaba";
}
.icomoon-truck2:before {
    content: "\eabb";
}
.icomoon-world:before {
    content: "\eabc";
}
.icomoon-times:before {
    content: "\eabd";
}
.icomoon-tick:before {
    content: "\eabe";
}
.icomoon-plus3:before {
    content: "\eabf";
}
.icomoon-minus4:before {
    content: "\eac0";
}
.icomoon-equals:before {
    content: "\eac1";
}
.icomoon-divide:before {
    content: "\eac2";
}
.icomoon-chevron-right:before {
    content: "\eac3";
}
.icomoon-chevron-left:before {
    content: "\eac4";
}
.icomoon-arrow-right-thick:before {
    content: "\eac5";
}
.icomoon-arrow-left-thick:before {
    content: "\eac6";
}
.icomoon-th-small:before {
    content: "\eac7";
}
.icomoon-th-menu:before {
    content: "\eac8";
}
.icomoon-th-list:before {
    content: "\eac9";
}
.icomoon-th-large:before {
    content: "\eaca";
}
.icomoon-home:before {
    content: "\eacb";
}
.icomoon-arrow-forward:before {
    content: "\eacc";
}
.icomoon-arrow-back:before {
    content: "\eacd";
}
.icomoon-rss:before {
    content: "\eace";
}
.icomoon-location3:before {
    content: "\eacf";
}
.icomoon-link3:before {
    content: "\ead0";
}
.icomoon-image2:before {
    content: "\ead1";
}
.icomoon-arrow-up-thick:before {
    content: "\ead2";
}
.icomoon-arrow-down-thick:before {
    content: "\ead3";
}
.icomoon-starburst:before {
    content: "\ead4";
}
.icomoon-starburst-outline:before {
    content: "\ead5";
}
.icomoon-star2:before {
    content: "\ead6";
}
.icomoon-flow-children:before {
    content: "\ead7";
}
.icomoon-export:before {
    content: "\ead8";
}
.icomoon-delete:before {
    content: "\ead9";
}
.icomoon-delete-outline:before {
    content: "\eada";
}
.icomoon-cloud-storage:before {
    content: "\eadb";
}
.icomoon-wi-fi:before {
    content: "\eadc";
}
.icomoon-heart5:before {
    content: "\eadd";
}
.icomoon-flash:before {
    content: "\eade";
}
.icomoon-cancel4:before {
    content: "\eadf";
}
.icomoon-backspace:before {
    content: "\eae0";
}
.icomoon-attachment2:before {
    content: "\eae1";
}
.icomoon-arrow-move:before {
    content: "\eae2";
}
.icomoon-warning2:before {
    content: "\eae3";
}
.icomoon-user2:before {
    content: "\eae4";
}
.icomoon-radar:before {
    content: "\eae5";
}
.icomoon-lock-open:before {
    content: "\eae6";
}
.icomoon-lock-closed:before {
    content: "\eae7";
}
.icomoon-location-arrow:before {
    content: "\eae8";
}
.icomoon-info3:before {
    content: "\eae9";
}
.icomoon-user-delete:before {
    content: "\eaea";
}
.icomoon-user-add:before {
    content: "\eaeb";
}
.icomoon-media-pause:before {
    content: "\eaec";
}
.icomoon-group:before {
    content: "\eaed";
}
.icomoon-chart-pie:before {
    content: "\eaee";
}
.icomoon-chart-line:before {
    content: "\eaef";
}
.icomoon-chart-bar:before {
    content: "\eaf0";
}
.icomoon-chart-area:before {
    content: "\eaf1";
}
.icomoon-video2:before {
    content: "\eaf2";
}
.icomoon-point-of-interest:before {
    content: "\eaf3";
}
.icomoon-infinity:before {
    content: "\eaf4";
}
.icomoon-globe3:before {
    content: "\eaf5";
}
.icomoon-eye3:before {
    content: "\eaf6";
}
.icomoon-cog3:before {
    content: "\eaf7";
}
.icomoon-camera5:before {
    content: "\eaf8";
}
.icomoon-upload3:before {
    content: "\eaf9";
}
.icomoon-scissors2:before {
    content: "\eafa";
}
.icomoon-refresh:before {
    content: "\eafb";
}
.icomoon-pin3:before {
    content: "\eafc";
}
.icomoon-key3:before {
    content: "\eafd";
}
.icomoon-info-large:before {
    content: "\eafe";
}
.icomoon-eject:before {
    content: "\eaff";
}
.icomoon-download4:before {
    content: "\eb00";
}
.icomoon-zoom:before {
    content: "\eb01";
}
.icomoon-zoom-out:before {
    content: "\eb02";
}
.icomoon-zoom-in:before {
    content: "\eb03";
}
.icomoon-sort-numerically:before {
    content: "\eb04";
}
.icomoon-sort-alphabetically:before {
    content: "\eb05";
}
.icomoon-input-checked:before {
    content: "\eb06";
}
.icomoon-calender:before {
    content: "\eb07";
}
.icomoon-world2:before {
    content: "\eb08";
}
.icomoon-notes:before {
    content: "\eb09";
}
.icomoon-code:before {
    content: "\eb0a";
}
.icomoon-arrow-sync:before {
    content: "\eb0b";
}
.icomoon-arrow-shuffle:before {
    content: "\eb0c";
}
.icomoon-arrow-repeat:before {
    content: "\eb0d";
}
.icomoon-arrow-minimise:before {
    content: "\eb0e";
}
.icomoon-arrow-maximise:before {
    content: "\eb0f";
}
.icomoon-arrow-loop:before {
    content: "\eb10";
}
.icomoon-anchor2:before {
    content: "\eb11";
}
.icomoon-spanner:before {
    content: "\eb12";
}
.icomoon-puzzle:before {
    content: "\eb13";
}
.icomoon-power:before {
    content: "\eb14";
}
.icomoon-plane2:before {
    content: "\eb15";
}
.icomoon-pi:before {
    content: "\eb16";
}
.icomoon-phone5:before {
    content: "\eb17";
}
.icomoon-microphone5:before {
    content: "\eb18";
}
.icomoon-media-rewind:before {
    content: "\eb19";
}
.icomoon-flag:before {
    content: "\eb1a";
}
.icomoon-adjust-brightness:before {
    content: "\eb1b";
}
.icomoon-waves:before {
    content: "\eb1c";
}
.icomoon-social-twitter:before {
    content: "\eb1d";
}
.icomoon-social-facebook:before {
    content: "\eb1e";
}
.icomoon-social-dribbble:before {
    content: "\eb1f";
}
.icomoon-media-stop:before {
    content: "\eb20";
}
.icomoon-media-record:before {
    content: "\eb21";
}
.icomoon-media-play:before {
    content: "\eb22";
}
.icomoon-media-fast-forward:before {
    content: "\eb23";
}
.icomoon-media-eject:before {
    content: "\eb24";
}
.icomoon-social-vimeo:before {
    content: "\eb25";
}
.icomoon-social-tumbler:before {
    content: "\eb26";
}
.icomoon-social-skype:before {
    content: "\eb27";
}
.icomoon-social-pinterest:before {
    content: "\eb28";
}
.icomoon-social-linkedin:before {
    content: "\eb29";
}
.icomoon-social-last-fm:before {
    content: "\eb2a";
}
.icomoon-social-github:before {
    content: "\eb2b";
}
.icomoon-social-flickr:before {
    content: "\eb2c";
}
.icomoon-at:before {
    content: "\eb2d";
}
.icomoon-times-outline:before {
    content: "\eb2e";
}
.icomoon-plus-outline:before {
    content: "\eb2f";
}
.icomoon-minus-outline:before {
    content: "\eb30";
}
.icomoon-tick-outline:before {
    content: "\eb31";
}
.icomoon-th-large-outline:before {
    content: "\eb32";
}
.icomoon-equals-outline:before {
    content: "\eb33";
}
.icomoon-divide-outline:before {
    content: "\eb34";
}
.icomoon-chevron-right-outline:before {
    content: "\eb35";
}
.icomoon-chevron-left-outline:before {
    content: "\eb36";
}
.icomoon-arrow-right-outline:before {
    content: "\eb37";
}
.icomoon-arrow-left-outline:before {
    content: "\eb38";
}
.icomoon-th-small-outline:before {
    content: "\eb39";
}
.icomoon-th-menu-outline:before {
    content: "\eb3a";
}
.icomoon-th-list-outline:before {
    content: "\eb3b";
}
.icomoon-news2:before {
    content: "\eb3c";
}
.icomoon-home-outline:before {
    content: "\eb3d";
}
.icomoon-arrow-up-outline:before {
    content: "\eb3e";
}
.icomoon-arrow-forward-outline:before {
    content: "\eb3f";
}
.icomoon-arrow-down-outline:before {
    content: "\eb40";
}
.icomoon-arrow-back-outline:before {
    content: "\eb41";
}
.icomoon-trash2:before {
    content: "\eb42";
}
.icomoon-rss-outline:before {
    content: "\eb43";
}
.icomoon-message:before {
    content: "\eb44";
}
.icomoon-location-outline:before {
    content: "\eb45";
}
.icomoon-link-outline:before {
    content: "\eb46";
}
.icomoon-image-outline:before {
    content: "\eb47";
}
.icomoon-export-outline:before {
    content: "\eb48";
}
.icomoon-cross2:before {
    content: "\eb49";
}
.icomoon-wi-fi-outline:before {
    content: "\eb4a";
}
.icomoon-star-outline:before {
    content: "\eb4b";
}
.icomoon-media-pause-outline:before {
    content: "\eb4c";
}
.icomoon-mail2:before {
    content: "\eb4d";
}
.icomoon-heart-outline:before {
    content: "\eb4e";
}
.icomoon-flash-outline:before {
    content: "\eb4f";
}
.icomoon-cancel-outline:before {
    content: "\eb50";
}
.icomoon-beaker:before {
    content: "\eb51";
}
.icomoon-arrow-move-outline:before {
    content: "\eb52";
}
.icomoon-watch3:before {
    content: "\eb53";
}
.icomoon-warning-outline:before {
    content: "\eb54";
}
.icomoon-time3:before {
    content: "\eb55";
}
.icomoon-radar-outline:before {
    content: "\eb56";
}
.icomoon-lock-open-outline:before {
    content: "\eb57";
}
.icomoon-location-arrow-outline:before {
    content: "\eb58";
}
.icomoon-info-outline:before {
    content: "\eb59";
}
.icomoon-backspace-outline:before {
    content: "\eb5a";
}
.icomoon-attachment-outline:before {
    content: "\eb5b";
}
.icomoon-user-outline:before {
    content: "\eb5c";
}
.icomoon-user-delete-outline:before {
    content: "\eb5d";
}
.icomoon-user-add-outline:before {
    content: "\eb5e";
}
.icomoon-lock-closed-outline:before {
    content: "\eb5f";
}
.icomoon-group-outline:before {
    content: "\eb60";
}
.icomoon-chart-pie-outline:before {
    content: "\eb61";
}
.icomoon-chart-line-outline:before {
    content: "\eb62";
}
.icomoon-chart-bar-outline:before {
    content: "\eb63";
}
.icomoon-chart-area-outline:before {
    content: "\eb64";
}
.icomoon-video-outline:before {
    content: "\eb65";
}
.icomoon-point-of-interest-outline:before {
    content: "\eb66";
}
.icomoon-map2:before {
    content: "\eb67";
}
.icomoon-key-outline:before {
    content: "\eb68";
}
.icomoon-infinity-outline:before {
    content: "\eb69";
}
.icomoon-globe-outline:before {
    content: "\eb6a";
}
.icomoon-eye-outline:before {
    content: "\eb6b";
}
.icomoon-cog-outline:before {
    content: "\eb6c";
}
.icomoon-camera-outline:before {
    content: "\eb6d";
}
.icomoon-upload-outline:before {
    content: "\eb6e";
}
.icomoon-support:before {
    content: "\eb6f";
}
.icomoon-scissors-outline:before {
    content: "\eb70";
}
.icomoon-refresh-outline:before {
    content: "\eb71";
}
.icomoon-info-large-outline:before {
    content: "\eb72";
}
.icomoon-eject-outline:before {
    content: "\eb73";
}
.icomoon-download-outline:before {
    content: "\eb74";
}
.icomoon-battery-mid:before {
    content: "\eb75";
}
.icomoon-battery-low:before {
    content: "\eb76";
}
.icomoon-battery-high:before {
    content: "\eb77";
}
.icomoon-zoom-outline:before {
    content: "\eb78";
}
.icomoon-zoom-out-outline:before {
    content: "\eb79";
}
.icomoon-zoom-in-outline:before {
    content: "\eb7a";
}
.icomoon-tag4:before {
    content: "\eb7b";
}
.icomoon-tabs-outline:before {
    content: "\eb7c";
}
.icomoon-pin-outline:before {
    content: "\eb7d";
}
.icomoon-message-typing:before {
    content: "\eb7e";
}
.icomoon-directions:before {
    content: "\eb7f";
}
.icomoon-battery-full:before {
    content: "\eb80";
}
.icomoon-battery-charge:before {
    content: "\eb81";
}
.icomoon-pipette:before {
    content: "\eb82";
}
.icomoon-pencil2:before {
    content: "\eb83";
}
.icomoon-folder2:before {
    content: "\eb84";
}
.icomoon-folder-delete:before {
    content: "\eb85";
}
.icomoon-folder-add:before {
    content: "\eb86";
}
.icomoon-edit2:before {
    content: "\eb87";
}
.icomoon-document:before {
    content: "\eb88";
}
.icomoon-document-delete:before {
    content: "\eb89";
}
.icomoon-document-add:before {
    content: "\eb8a";
}
.icomoon-brush2:before {
    content: "\eb8b";
}
.icomoon-thumbs-up:before {
    content: "\eb8c";
}
.icomoon-thumbs-down:before {
    content: "\eb8d";
}
.icomoon-pen4:before {
    content: "\eb8e";
}
.icomoon-sort-numerically-outline:before {
    content: "\eb8f";
}
.icomoon-sort-alphabetically-outline:before {
    content: "\eb90";
}
.icomoon-social-last-fm-circular:before {
    content: "\eb91";
}
.icomoon-social-github-circular:before {
    content: "\eb92";
}
.icomoon-compass3:before {
    content: "\eb93";
}
.icomoon-bookmark3:before {
    content: "\eb94";
}
.icomoon-input-checked-outline:before {
    content: "\eb95";
}
.icomoon-code-outline:before {
    content: "\eb96";
}
.icomoon-calender-outline:before {
    content: "\eb97";
}
.icomoon-business-card:before {
    content: "\eb98";
}
.icomoon-arrow-up:before {
    content: "\eb99";
}
.icomoon-arrow-sync-outline:before {
    content: "\eb9a";
}
.icomoon-arrow-right:before {
    content: "\eb9b";
}
.icomoon-arrow-repeat-outline:before {
    content: "\eb9c";
}
.icomoon-arrow-loop-outline:before {
    content: "\eb9d";
}
.icomoon-arrow-left:before {
    content: "\eb9e";
}
.icomoon-flow-switch:before {
    content: "\eb9f";
}
.icomoon-flow-parallel:before {
    content: "\eba0";
}
.icomoon-flow-merge:before {
    content: "\eba1";
}
.icomoon-document-text:before {
    content: "\eba2";
}
.icomoon-clipboard4:before {
    content: "\eba3";
}
.icomoon-calculator2:before {
    content: "\eba4";
}
.icomoon-arrow-minimise-outline:before {
    content: "\eba5";
}
.icomoon-arrow-maximise-outline:before {
    content: "\eba6";
}
.icomoon-arrow-down:before {
    content: "\eba7";
}
.icomoon-gift:before {
    content: "\eba8";
}
.icomoon-film4:before {
    content: "\eba9";
}
.icomoon-database:before {
    content: "\ebaa";
}
.icomoon-bell:before {
    content: "\ebab";
}
.icomoon-anchor-outline:before {
    content: "\ebac";
}
.icomoon-adjust-contrast:before {
    content: "\ebad";
}
.icomoon-world-outline:before {
    content: "\ebae";
}
.icomoon-shopping-bag:before {
    content: "\ebaf";
}
.icomoon-power-outline:before {
    content: "\ebb0";
}
.icomoon-notes-outline:before {
    content: "\ebb1";
}
.icomoon-device-tablet:before {
    content: "\ebb2";
}
.icomoon-device-phone:before {
    content: "\ebb3";
}
.icomoon-device-laptop:before {
    content: "\ebb4";
}
.icomoon-device-desktop:before {
    content: "\ebb5";
}
.icomoon-briefcase:before {
    content: "\ebb6";
}
.icomoon-stopwatch:before {
    content: "\ebb7";
}
.icomoon-spanner-outline:before {
    content: "\ebb8";
}
.icomoon-puzzle-outline:before {
    content: "\ebb9";
}
.icomoon-printer2:before {
    content: "\ebba";
}
.icomoon-pi-outline:before {
    content: "\ebbb";
}
.icomoon-lightbulb:before {
    content: "\ebbc";
}
.icomoon-flag-outline:before {
    content: "\ebbd";
}
.icomoon-contacts:before {
    content: "\ebbe";
}
.icomoon-archive2:before {
    content: "\ebbf";
}
.icomoon-weather-stormy:before {
    content: "\ebc0";
}
.icomoon-weather-shower:before {
    content: "\ebc1";
}
.icomoon-weather-partly-sunny:before {
    content: "\ebc2";
}
.icomoon-weather-downpour:before {
    content: "\ebc3";
}
.icomoon-weather-cloudy:before {
    content: "\ebc4";
}
.icomoon-plane-outline:before {
    content: "\ebc5";
}
.icomoon-phone-outline:before {
    content: "\ebc6";
}
.icomoon-microphone-outline:before {
    content: "\ebc7";
}
.icomoon-weather-windy:before {
    content: "\ebc8";
}
.icomoon-weather-windy-cloudy:before {
    content: "\ebc9";
}
.icomoon-weather-sunny:before {
    content: "\ebca";
}
.icomoon-weather-snow:before {
    content: "\ebcb";
}
.icomoon-weather-night:before {
    content: "\ebcc";
}
.icomoon-media-stop-outline:before {
    content: "\ebcd";
}
.icomoon-media-rewind-outline:before {
    content: "\ebce";
}
.icomoon-media-record-outline:before {
    content: "\ebcf";
}
.icomoon-media-play-outline:before {
    content: "\ebd0";
}
.icomoon-media-fast-forward-outline:before {
    content: "\ebd1";
}
.icomoon-media-eject-outline:before {
    content: "\ebd2";
}
.icomoon-wine:before {
    content: "\ebd3";
}
.icomoon-waves-outline:before {
    content: "\ebd4";
}
.icomoon-ticket4:before {
    content: "\ebd5";
}
.icomoon-tags2:before {
    content: "\ebd6";
}
.icomoon-plug:before {
    content: "\ebd7";
}
.icomoon-headphones2:before {
    content: "\ebd8";
}
.icomoon-credit-card:before {
    content: "\ebd9";
}
.icomoon-coffee2:before {
    content: "\ebda";
}
.icomoon-book3:before {
    content: "\ebdb";
}
.icomoon-beer:before {
    content: "\ebdc";
}
.icomoon-volume4:before {
    content: "\ebdd";
}
.icomoon-volume-up:before {
    content: "\ebde";
}
.icomoon-volume-mute:before {
    content: "\ebdf";
}
.icomoon-volume-down:before {
    content: "\ebe0";
}
.icomoon-social-vimeo-circular:before {
    content: "\ebe1";
}
.icomoon-social-twitter-circular:before {
    content: "\ebe2";
}
.icomoon-social-pinterest-circular:before {
    content: "\ebe3";
}
.icomoon-social-linkedin-circular:before {
    content: "\ebe4";
}
.icomoon-social-facebook-circular:before {
    content: "\ebe5";
}
.icomoon-social-dribbble-circular:before {
    content: "\ebe6";
}
.icomoon-tree:before {
    content: "\ebe7";
}
.icomoon-thermometer3:before {
    content: "\ebe8";
}
.icomoon-social-tumbler-circular:before {
    content: "\ebe9";
}
.icomoon-social-skype-outline:before {
    content: "\ebea";
}
.icomoon-social-flickr-circular:before {
    content: "\ebeb";
}
.icomoon-social-at-circular:before {
    content: "\ebec";
}
.icomoon-shopping-cart:before {
    content: "\ebed";
}
.icomoon-messages:before {
    content: "\ebee";
}
.icomoon-leaf:before {
    content: "\ebef";
}
.icomoon-feather:before {
    content: "\ebf0";
}

