/*================= 11. ABOUT PAGE ==================*/
.about-page img{
	@include border-radius;
}
.about-page .white-section img{
	margin-bottom: 30px;
	@include tablet {
		margin-bottom: 0;
	}
}
.about-page .light-section img{
	margin-top: 30px;
	@include tablet {
		margin-top: 0;
	}
}
.about-page .top-headline{
	margin-bottom: 20px;
	text-align: left;
	@include desktops {
		margin-bottom: 30px;
		margin-top: 5px;
	}
}
.about-page p{
	line-height: 24px;
}
.video-section{
	text-align: center;
	@include tablet {
		padding: 0 70px;
	}
	@include desktops {
		padding: 0 100px;
	}
	.top-headline{
		text-align: center;
	}
}
.video-wrapper{
	position: relative;
	padding-bottom: 47.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 94%;
	margin: 40px auto 0;
	@include tablet {
		padding-bottom: 41.25%;
		width: 81%;
	}
	@include desktops {
		margin: 60px auto 0;
		width: 78%;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.testimonial .top-headline{
	text-align: center;
}
.testimonial .col-xs-12{
	margin-bottom: 30px;
	@include tablet {
		margin-bottom: 0;
	}
	&:last-child{
		margin-bottom: 0;
	}
	img{
		margin-top: 0;
	}
}
.about-text p{
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #525252;
	@include tablet {
		padding: 0 70px;
	}
	@include desktops {
		padding: 0 100px;
		font-size: 25px;
		line-height: 35px;
	} 
}