/*================= 15. CONTACT PAGE ==================*/
.contact-content .headline{
	color: $text-color;
}
.contact-content .comment-form{
	margin: 0;
}
.contact-content .comment-form .primary-btn{
	float: none;
	padding-left: 55px;
	padding-right: 55px;
}
.contact-address .headline{
	color: #515151;
	margin-bottom: 15px;
	font-weight: 100;
}
.contact-address address{
	font-size: 15px;
	color: #515151;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid $border-color;
	font-weight: 300;
	display: inline-block;
	span{
		font-weight: 700;
	}
}
.ed-email-address{
	color: #515151;
	display: block;
	text-decoration: none;
	&:hover,&:focus{
		color: #515151;
		text-decoration: none;
	}
}
.contact_map iframe{
	display: block;
}