.error-page .dark-section {
    background-image: url("../images/room/full-img1.jpg");
}
.error-content{
	background: #f4f6f9;
	text-align: center;
	h3{
		color: #525252;
		font-size: 25px;
		font-weight: 300;
		margin-bottom: 0;
		text-transform: capitalize;
		@include tablet {
			font-size: 30px;
		}

	}
	p{
		color: #525252;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 0;
		line-height: 28px;
		@include tablet {
			font-size: 25px;
			line-height: 35px;
		}
	}
	a{
		color: $primary-color;
		text-decoration: none;
	}
}
.error-content-top{
	width: 250px;
	height: 250px;
	margin: 0 auto 45px;
	background: #ffffff;
	@include border-radius(50%);
	@include tablet {
		width: 300px;
		height: 300px;
	}

	h1{
		color: #525252;
		font-size: 60px;
		font-weight: 300;
		margin-bottom: 10px;
		padding-top: 70px;
		@include tablet {
			font-size: 70px;
			margin-bottom: 25px;
		}
	}
	h3{
		text-transform: uppercase;
	}
}