/*=== 2.1 HEADER ===*/
.header{
	background-color: #ffffff;
	@include box-shadow(0,1px, 2px, rgba(0, 0, 0, 0.10));
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

/*=== 2.1.1 TOPBAR ===*/
.topbar{
	float: left;
	width: 100%;
	@include tablet {
		padding:15px 0 ;
	}
	ul{
		float: right;
		li{
			display: inline-block;
			margin-left: 20px;
			font-size: 14px;
			font-weight: 300;
			color: #97a0a5;
			position:relative;
			padding-left: 23px;
			a{
				display: inline-block;
				color: #97a0a5;
				font-size: 12px;
				text-decoration: none;
				@include transition(color 0.3s);
				&:hover{
					color: $primary-color;
					@include transition(color 0.3s);
				}
			}
			i{
				font-size: 20px;
				position:absolute;
				top:2px;
				left:0;
			}
			i.fa-phone{
				font-size: 12px;
				padding: 2px 4px;
				border: 1px solid #97a0a5;
				@include border-radius(50%);
				margin-right: 5px;
			}
			i.fa-caret-down{
				font-size: 17px;
				right:0;
				left:auto;
				top:18%;
			}
		}
	}
}
li.language.dropdown{
	padding: 0;
	ul.dropdown-menu{
		width:100px;
	    position: absolute;
	    top: 100%;
	    left: auto;
	    right:0;
	    min-width: 100px;
	    padding: 5px 0;
	    margin: 2px 0 0;
	    font-size: 14px;
	    border: 1px solid $border-color;
	    @include border-radius;
	    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
	    box-shadow: 0 2px 2px rgba(0,0,0,.05);
		li{
			margin:0;
			padding:0;
			@include box-sizing(border-box);
			width:100%;
			a{
				display:block;
				color: #46555e;
				@include transition(color 0.5s);
				font-size: 13px;
				font-weight: 500;
				&:hover, &:focus{
					background: rgba(0, 0, 0, 0.07);
				}
			}
		}
		li.active{
			a{
				background: transparent;
				color:$primary-color;
				@include transition(color 0.3s);
			}
		}
	}
}
li.language.dropdown > a{
	padding-left: 23px;
	padding-right: 15px;
}
li.language.dropdown.open > a{
	color:$primary-color;
	@include transition(color 0.5s);
}

/*=== 2.1.2 NAVBAR ===*/
.navbar-fixed-top{
	padding-top:10px;
	@include box-shadow(0,1px, 2px, rgba(0, 0, 0, 0.10));
	a.logo{
		display: inline-block;
		width: 110px;
		height: 50px;
		margin-top: 0;
		@include transition(width 0.2s, height 0.2s);
	} 
}
.navbar-default {
	.navbar-toggle{
		padding: 8px;
	}
	.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus{
	    border: 1px solid $primary-color;
	    background: $primary-color;
	    margin: 12px 0 0 0;
	    .icon-bar {
		    background-color: #ffffff;
		}
	}
}
.navbar-default {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    margin-bottom: 0;
}
a.logo{
	display: inline-block;
	width: 135px;
	height: auto;
	margin-top: -10px;
	margin-bottom: 5px;
	float: left;
	height: auto;
	@include transition(width 0.4s, height 0.4s);
	@include mobile {
	}
	@include tablet {
		margin-top: -35px;
		width: 200px;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
}
.navbar-collapse{
	float: none;
	width: 100%;
	margin: 0 !important;
	padding-right: 0; 
    padding-left: 0;
    border-top:none;
	@include tablet {
		float: right;
		padding: 0;
		width: auto;
	}
	ul.navbar-nav{
		background: #272c32;
		@include tablet {
			background: transparent;
		}
		li{
			background: transparent;
			display: block;
			width: 100%;
			border-bottom: 1px solid #323840;
			&:last-child, &:nth-last-child(2){
				border-bottom: none;
			}
			@include tablet {
				display: inline-block;
				width: auto;
				border: none;
			}
			a{
				padding: 8px 20px;
				background-color: transparent;
				font-size: 15px;
				font-weight: 400;
				color: #97a0a5;
				@include transition(color 0.3s);
				text-transform: uppercase;
				&:hover,&:focus{
					background-color: transparent;
					color: #ffffff;
					@include transition(color 0.3s);
				}
				@include tablet {
					font-size:13px;
					padding: 0 8px 16px;
					color: #46555e;
					&:hover,&:focus{
						background-color: transparent;
						color: $primary-color;
						@include transition(color 0.3s);
					}
				}
				@include desktops {
					font-size:15px;
					padding:3px 20px 13px;
				}
			}
		}
		li.active{
			a{
				background-color: transparent;
				color: #97a0a5;
				@include transition(color 0.3s);
				&:hover,&:focus{
					background-color: transparent;
					color: #ffffff;
					@include transition(color 0.3s);
				}
				@include tablet {
					&:hover,&:focus{
						background-color: transparent;
						@include transition(color 0.3s);
					}
				}
			}
		}
		li.book-online{
			display: block;
			text-align: center;
			padding: 0 15px;
			margin-top: 10px;
			@include tablet {
				padding: 0;
				margin-left: 8px;
				margin-top: 0;
				display: inline-block;
			}
			@include desktops {
				margin-left: 20px;	
			}
			a.btn{
				padding: 8px 22px 8px 35px;
				background-color: $primary-color;
				@include transition(background-color 0.3s);
				color: $text-light;
				position: relative;
				line-height: 20px;
				@include border-radius(5px);
				@include tablet {
					padding: 6px 20px 6px 30px;
				}
				@include desktops {
					padding: 8px 22px 8px 35px;
				}
				
				&:hover,&:focus{
					background-color: tint($primary-color, 20%);
					color: $text-light;
				}
				span{
					padding-right: 15px;
					position: relative;
					@include tablet {
						position: absolute;
						left: 10px;
						top: 10px;
					}
					@include desktops {
						top: 10px;
					}
				}
			}
		}
	}
}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{
	background:transparent;
}
.navbar-collapse ul.navbar-nav li.active > a,
.navbar-collapse ul.navbar-nav li.active > a:hover,
.navbar-collapse ul.navbar-nav li.active > a:focus{
	@include tablet {
		color: $primary-color;
	}
}
.navbar-collapse ul.navbar-nav > li> a{
	@include tablet {
		line-height: 32px;
	}
}
.navbar-collapse ul.navbar-nav.in > li.dropdown > a:after{
	position: relative;
	right: -8px;
	content: "\f107";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include tablet {
		content: "";
	}
}
.navbar-collapse ul.navbar-nav > li.dropdown > a:after{
	position: absolute;
	right: 15px;
	top: 10px;
	content: "\f107";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	@include tablet {
		content: "";
	}
}
.navbar-collapse ul.navbar-nav > li.dropdown.open > a:after{
	content: "\f106";
	@include tablet {
		content: "";
	}
}
.navbar-collapse ul.navbar-nav li.dropdown li.dropdown > a:after{
	position: absolute;
	right: 6px;
	top: 11px;
	content: "\f107";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	@include tablet {
		content: "\f105";
		right: 15px;
	}
}
.navbar-collapse ul.navbar-nav li.dropdown li.dropdown.open > a:after{
	content: "\f106";
	@include tablet {
		content: "\f105";
		right: 15px;
	}
}

.nav.navbar-nav.navbar-right{
	padding:10px 0 20px 0;
	margin: 0 0 20px;
	@include tablet {
		padding:0;
		margin: 0;
	}
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    @include tablet {
    	color: $primary-color;
    }
}
.navbar-default .navbar-nav .open .dropdown-menu  li a {
    color: #97a0a5;
    &:hover, &:focus{
		color:#ffffff;
		text-decoration: none;
	}
}
.navbar-collapse  ul.navbar-nav{
	ul{
		z-index: 9999;
		background: #272c32;
		border-radius: 0;
	    box-shadow: none;
	    border: none;
	    width: 100%;
		padding:0 10px;
		right:auto;
		left: 0;
		top:50px;
		box-shadow: none;
		@include tablet {
			padding:0;
		    width:180px;
		    border:none;
		    border-bottom-left-radius: 4px;
		    border-bottom-right-radius: 4px;
		    border-top-right-radius: 0;
		    border-top-left-radius: 0;
		}
		@include desktops {
		    width:225px;
		}
		ul{
			top: 100%;
			left: 0;
			margin-top: 0;
			@include tablet {
				top: 0!important;
				left: 100%!important;
				border-left: 1px solid #323840;
			}
		}
		li  {
			background: #272c32;
			padding-left: 15px;
			display: block;
			border-bottom: 1px solid #323840;
			&:last-child{
				border-bottom: none;
			}
			&:nth-last-child(2){
				border-bottom: 1px solid #323840;
			}
			@include tablet {
			    padding-left: 15px;
			}
			a{
				color: #97a0a5;
				border-bottom:none;
				font-size:13px;
				font-weight: 300;
				text-transform:capitalize;
				padding:9px 0 !important;
				display:block;
				background:none;
				&:hover, &:focus{
					color:$primary-color;
				}
				@include tablet {
					color: #97a0a5;
					&:hover, &:focus{
						color:#ffffff !important;
						background:none;
					}
				}
			}
		}
		li.active >  a{
			background:none;
			color:#ffffff !important;
		}
		li.active li.active  a{
			background:none;
			color:#ffffff !important;
		}
		li:last-child a{
			border:none;
		}
	}
}
@include tablet {
	.dropdown > ul{
	  display: block;
	  visibility: hidden;
	  opacity: 1;
	  -webkit-transition: all 0.05s linear;
	  transition: all 0.05s linear;
	}
	.dropdown:hover > ul, ul.dropdown-menu:hover{
		visibility: visible;
		opacity: 1;
	}
} 
.navbar-collapse  ul.navbar-nav ul li.open ul{
	@include tablet {
		top: 0 !important;
		left: 100%!important;
		border-left: 1px solid #323840;
	}
}
body.bodyColor{
	background:#DADADA;
}
body.bodyColor.container {
    padding: 0;
}
@include desktops {
	.container {
	    width: 970px!important;
	}
	body.bodyColor .header {
	    max-width: 970px;
	}
	body.bodyColor .navbar-fixed-top {
	    right: auto;
	    left: auto;
	}
}
@include large-desktops {
	.container {
	    width: 1170px!important;
	}
	body.bodyColor .header {
	    max-width: 1170px;
	}
}
