/*================= 2. HOME ==================*/
@import 'header-v1';
/*=== 2.2 BANNER ===*/
.fullscreenbanner-container {
	width:100%;
	position:relative;
	padding:0;
	.tp-bullets.preview4{
		opacity: 1 !important;
		height: auto !important;
		@include desktops {
			bottom: 100px !important;
		}
	}
	.tp-bullets.preview4 .bullet {
	    background: rgba(255, 255, 255, 0.5) !important;
	    @include border-radius (50%);
	    box-shadow: none!important;
	    width: 6px !important;
	    height: 6px !important;
	    border: 2px solid rgba(255, 255, 255, 0.0) !important;
	    display: inline-block;
	    margin-right: 14px !important;
	    margin-left: 0 !important;
	    margin-bottom: 0px !important;
	    @include transition (background-color 0.2s, border-color 0.2s);
	    float: none !important;
	}
	.tp-bullets.preview4 .bullet:hover, .tp-bullets.preview4 .bullet.selected {
	    box-shadow: none!important;
	    background: rgba(255, 255, 255, 0.0) !important;
	    width: 14px !important;
	    height: 14px !important;
	    border: 2px solid rgba(255, 255, 255, 1) !important;
	    margin-right: 10px !important;
	    margin-left: -4px!important;
	    margin-bottom: -3px!important;
	}
	.tparrows.preview4 .tp-arr-iwrapper {
		display: none !important;
	}
}
.tp-bullets{
	z-index: 99;
}
@include tablet {
	.tparrows.preview4:hover:after{	
		-webkit-transform: rotateY(0);
	 	transform:rotateY(0);
	 }
	.tp-leftarrow.preview4:hover:after{	
		-webkit-transform: rotateY(0); 
		transform:rotateY(0)
	}
}
.fullscreenbanner{
	color: $text-light;
	width:100%;
	position:relative;
}
.tp-caption{
	white-space: normal!important;
	font-weight: 500;
}
.slider-caption{
	text-align: center;
}
.rs-slider2{
	.slider-caption{
		text-align: left;
	}
}
.rs-slider3{
	.slider-caption{
		text-align: left;
	}
}
.tp-caption.rs-caption-1{
	text-transform: uppercase;
	font-size: 65px;
	line-height: 75px;
	font-weight:normal;
	font-family: 'Limelight', cursive;
	span{
		color: $secondary-color;
	}
}
.tp-caption.rs-caption-2{
	font-size: 18px ;
	line-height: 20px ;
}
.rs-caption-rating .ed-rating{
	color:$secondary-color;
	font-size:24px;
}
.fullscreenbanner .tp-dottedoverlay {
    background: rgba(0, 0, 0, 0.15);
    background-image: none!important;
    z-index: 1;
}

/*=== 2.3 CHECK AREA ===*/
.check-area{
	background:$dark-bg;
	padding: 25px 0 10px;
	margin-top: -1px;
	position: relative;
	z-index: 99;
	@include desktops {
		margin-top: -94px;
		background: rgba(0, 0, 0, 0.60);
		padding: 25px 0;
	}
	.col-md-2{
		margin-bottom: 15px;
	}
	@include desktops {
		.row{
		    margin-right: 0;
	    	margin-left: 0;
			.col-md-2{
				padding: 0 4px;
				margin-bottom: 0;
			}
			.col-md-2:first-child{
				padding-left: 0;
			}
			.col-md-2:last-child{
				padding-right: 0;
			}
		}
	}
}
.ed-select{
	width: 100%;
	@include tablet {
		width: auto;
	}
}
.ed-datepicker{
	height: 44px;
	border: 1px solid $border-light;
	padding: 0;
	@include border-radius;
	&:before{
		content: "Arival";
		position: absolute;
		left: 10px;
		top: 8px;
		font-size: 16px;
		font-weight: 500;
		color: $text-light;
		@include desktops {
			font-size: 12px;
		}
		@include large-desktops {
			font-size: 16px;
		}
	}
}
.ed-datepicker .form-control{
	height: 40px;
	background: transparent;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: $text-light;
	padding: 4px 0 4px 60px;
	box-shadow: none !important;
	@include desktops {
		font-size: 12px;
		padding: 4px 0 4px 50px;
	}
	@include large-desktops {
		font-size: 16px;
		padding: 4px 0 4px 60px;
	}
}
.ed-datepicker .form-control::-webkit-input-placeholder{ 
	font-size: 16px;
	font-weight: 500;
	color: $text-light;
}
.ed-datepicker .form-control::-moz-placeholder{ 
	font-size: 16px;
	font-weight: 500;
	color: $text-light;
}
.ed-datepicker .form-control:-ms-input-placeholder{ 
	font-size: 16px;
	font-weight: 500;
	color: $text-light;
}
.ed-datepicker .form-control:-moz-placeholder { 
	font-size: 16px;
	font-weight: 500;
	color: $text-light;
}
.ed-datepicker .input-group-addon{
	height: 40px;
	background: transparent;
	border: none;
	padding: 6px 5px;
	.icomoon-calendar{
		font-size: 24px;
		color: rgba(255, 255, 255, 0.5);
	}
}
.datepicker-dropdown{
	width: 280px;
	padding: 15px 20px;
}
.datepicker-dropdown thead{
	color: $text-color;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
}
.datepicker table tr td.day{
    color: $text-color;
    font-weight: 500;
    @include border-radius(50%);
    border-radius: 50% !important;
    background: transparent;
    margin: 0 3px 10px;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
}
.datepicker table tr td.day.new, 
.datepicker table tr td.day.old {
    color: #cccfd3;
    background: transparent;
}
.datepicker table tr td.day:hover, 
.datepicker table tr td.focused {
    background: $secondary-color;
    @include transition (background 0.3s);
    cursor: pointer;
    color: $text-light;
}
.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active:active {
    border-color: $secondary-color;
    background: $secondary-color;
    @include transition (background 0.3s, border-color 0.3s);
    color: $text-light;
}
.datepicker table tr td.active.active.focus,
 .datepicker table tr td.active.active:focus, 
 .datepicker table tr td.active.active:hover, 
 .datepicker table tr td.active.highlighted.active.focus, 
 .datepicker table tr td.active.highlighted.active:focus, 
 .datepicker table tr td.active.highlighted.active:hover, 
 .datepicker table tr td.active.highlighted:active.focus, 
 .datepicker table tr td.active.highlighted:active:focus, 
 .datepicker table tr td.active.highlighted:active:hover, 
 .datepicker table tr td.active:active.focus, 
 .datepicker table tr td.active:active:focus, 
 .datepicker table tr td.active:active:hover {
    border-color: $secondary-color;
    background: $secondary-color;
    @include transition (background 0.3s, border-color 0.3s);
    color: $text-light;
}
.datepicker .datepicker-switch:hover, 
.datepicker .next:hover, 
.datepicker .prev:hover, 
.datepicker tfoot tr th:hover {
    background:transparent;
    border: none;
    @include transition (color 0.3s);
    cursor: pointer;
    color: $secondary-color;
}
div.cs-select{
	height: 44px;
	border: none;
	@include border-radius;
	font-size: 16px;
	font-weight: 500;
	color: $text-light;
	background: transparent;
	z-index: 1;
	position: initial;
	@include desktops {
		font-size: 12px;
	}
	@include large-desktops {
		font-size: 16px;
	}

}
.cs-select.ed-select{
	border: 1px solid $border-light;
}
.cs-select.ed-select > span{
	background: transparent;
	padding: 8px 12px;
}
.cs-select > span::after {
	content: "\f0d8";
	color: rgba(255, 255, 255, 0.5);
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.cs-select .cs-selected > span::after {
    content: "\f0d7";
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cs-select li.cs-selected > span::after {
    content: "\f00c";
    color: $secondary-color;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cs-select.ed-select .cs-options {
    border: 1px solid rgba(0, 0, 0, 0.05);
    @include border-radius;
    @include box-shadow(0, 4px, 10px, rgba(0, 0, 0, 0.33));
    background: #ffffff;
    color: #46555e;
    bottom: 100%;
    z-index: 9999;
    width: 88%;
    @include mobile {
    	width: 93%;
    }
    @include tablet {
    	width: 87%;
    }
    @include desktops {
    	width: 93%;
    }
    @include large-desktops {
    	width: 95%;
    }
}
.cs-select ul li.cs-focus span {
  background-color:#ffffff;
}
.cs-select ul li{
	background-color:#ffffff;
	span{
		z-index: 9999999;
		position: relative;
		padding: 6px 12px;
	}
}
.cs-select ul li:hover, .cs-select li.cs-selected{
	background-color: rgba(0, 0, 0, 0.07);
	color: $secondary-color;
	@include transition (background-color 0.3s, color 0.3s);
}
.ckech-btn{
	font-weight: 500;
	height: 44px;
	padding: 12px 0;
	width: 100%;
	text-align: center;
}

/*=== 2.4 WHITE SECTION ===*/
.featured{
	.btn{
		display: block;
		font-weight: 500;
	}
	.col-sm-4{
		margin-bottom: 25px;
		@include tablet {
			margin-bottom: 0;
		}
	}
}
.underLine{
	margin: 0 0 20px;
	text-align: center;
	img{
		margin: 0 auto;
	}
}
.ed-room > a{
	position: relative;
	text-decoration: none;
	display: block;
	&:focus{
		outline:none;
	}
}
.ed-room{
	width: 100%; 
	height: auto;
	position: relative;
	color: $text-light;
	@include border-radius;
	margin-bottom: 22px;
	margin-top: 0 !important;
	img{
		width: 100%;
		@include border-radius;
	}
	figcaption{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: $dark-bg;
		padding: 20px;
		width: 100%;
		display: none;
		z-index: 9;
		p{
			color: $text-light;
		}
	}
}
.ed-room.featured-room figcaption{
	position: relative;
	padding: 20px 10px 45px 10px;
	display: block;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px; 
	@include tablet {
		padding: 10px;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: none;
		@include border-radius;
	}
	@include desktops {
		padding: 15px;
	}
	@include large-desktops {
		padding: 25px;
	}
}
.ed-room i.room-zoom{
	position: absolute;
	top: 50%;
	right: 50%;
	z-index: 999;
	margin-top: -75px;
	margin-right: -20px;
	width: 35px;
	height: 35px;
	background: rgba(0, 0, 0, 0.7);
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	@include border-radius(50%);
	text-align: center;
	padding-top: 9px;
	@include tablet {
		background: rgba(255, 255, 255, 0.4);
		color: rgba(0, 0, 0, 0.7);
		margin-top: 0;
		margin-right: 0;
		top: 5px;
		right: 5px;
		width: 30px;
		height: 30px;
		font-size: 14px;
		padding-top: 8px;
	}
	@include desktops {
		top: 10px;
		right: 10px;
	}
	@include large-desktops {
		padding-top: 9px;
		width: 35px;
		height: 35px;
		top: 15px;
		right: 15px;
		font-size: 15px;
	}
}
.ed-room.featured-room	figcaption .headline{
	margin-bottom: 30px;
	color:#ffffff;
	text-decoration: none;
	@include tablet {
		margin-bottom: 7px;
	}
	@include desktops {
		margin-bottom: 10px;
	}
	a{
		color: #ffffff;
		text-decoration: none;
	}
}
.ed-room.featured-room	figcaption p{
	display: none;
	@include tablet {
		font-size: 12px;
		line-height: 16px;
		display: block;
	}
	@include desktops {
		font-size: 14px;
		line-height: 18px;
	}
	@include large-desktops {
		font-size: 15px;
		line-height: 24px;
	}
}
.room-price{
	font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    display: inline-block;
    @include mobile {
		font-size: 30px;
	}
    @include tablet {
		font-size: 20px;
	}
	@include large-desktops {
		font-size: 30px;
	}
    span{
    	color: #ffffff;
    	font-size: 12px;
    	font-weight: 300;
    	display: inline-block;
    	margin: 0 5px;
		@include large-desktops {
			font-size: 15px;
		}
    }
}
.white-popup-block .room-price span{
	color: #979797;
}
.ed-room.featured-room .room-price{
	color: #ffffff;
	bottom: 20px;
	@include tablet {
		bottom: 10px;
	}
	@include large-desktops {
		bottom: 25px;
	}
}
.ed-member{
	color: #ffffff;
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	@include mobile {
		font-size: 30px;
	}
	@include tablet {
		right: 10px;
		bottom: 10px;
		font-size: 20px;
	}
	@include large-desktops {
		right: 25px;
		bottom: 25px;
		font-size: 30px;
	}
	span{
		font-size: 12px;
		font-weight: 300;
		margin-left: 5px;
		@include large-desktops {
			font-size: 15px;
		}
	}
}
.corner-ribbon {
	position: absolute;
	left: -5px; top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 35%; 
	height: 58%;
	text-align: right;
}
.ed-room.featured-room .corner-ribbon{
	width: 36%;
	@include mobile {
		width: 30%;
	}
	@include tablet {
		width: 57%;
	}
	@include desktops {
		width: 41%;
	}
	@include large-desktops {
		width: 35%; 
	}
}
.corner-ribbon span {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 99%;
	display: block;
	background: $primary-color;
	color: #ffffff;
	position: absolute;
	top: 19px; 
	left: -27px;
	@include tablet {
		font-size: 12px;
	}
	@include desktops {
		font-size: 14px;
	}
}
.ed-room-highlight .corner-ribbon span{
	background: $secondary-color;
}
.corner-ribbon span::before {
	content: "";
	position: absolute; 
	left: 0px; 
	top: 100%;
	z-index: -1;
	border-left: 3px solid $primary-ribbon-shade;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid $primary-ribbon-shade;
}
.corner-ribbon span::after {
	content: "";
	position: absolute; 
	right: 0px; 
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid $primary-ribbon-shade;
	border-bottom: 3px solid transparent;
	border-top: 3px solid $primary-ribbon-shade;
}
.ed-room-highlight .corner-ribbon span::before{
	border-left: 3px solid $secondary-ribbon-shade;
	border-top: 3px solid $secondary-ribbon-shade;
} 
.ed-room-highlight .corner-ribbon span::after{
	border-right: 3px solid $secondary-ribbon-shade;
	border-top: 3px solid $secondary-ribbon-shade;
}
@include tablet {
	.ed-room.featured-room figcaption{
		@include border-radius;
		display: block;
		background-color: rgba(0, 0, 0, 0.0);
	    -webkit-transition: background-color 0.5s; 
	     transition: background-color 0.5s; 
	}
	.ed-room.featured-room:hover figcaption{
		background-color: rgba(0, 0, 0, 0.7);
	}
	.ed-room.featured-room	figcaption .headline{
		opacity: 0;
		-webkit-transform: translate(0, 100px);
	    -ms-transform: translate(0, 100px);
	    transform: translate(0, 100px);
	    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	    transition: opacity 0.3s, transform 0.3s;
	    -webkit-transition-delay: 0.35s;
	    transition-delay: 0.35s;
	}
	.ed-room.featured-room:hover figcaption .headline{
		opacity: 1;
		-webkit-transition-delay: 0.1s;
	    transition-delay: 0.1s;
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    transform: translate(0, 0);	
	}
	.ed-room i.fa-search{
		opacity: 0;
		-webkit-transform: translate(0, 100px);
	    -ms-transform: translate(0, 100px);
	    transform: translate(0, 100px);
	    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	    transition: opacity 0.3s, transform 0.3s;
	    -webkit-transition-delay: 0.35s;
	    transition-delay: 0.35s;
	}
	.ed-room.featured-room:hover i.fa-search{
		opacity: 1;
		-webkit-transition-delay: 0.1s;
	    transition-delay: 0.1s;
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    transform: translate(0, 0);	
	}
	.ed-room.featured-room	figcaption p{
		opacity: 0;
	    -webkit-transform: translate(0, 10px);
	    -ms-transform: translate(0, 10px);
	    transform: translate(0, 10px);
	    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	    transition: opacity 0.3s, transform 0.3s;
	    -webkit-transition-delay: 0.2s;
	    transition-delay: 0.2s;
	}
	.ed-room.featured-room:hover figcaption p{
		-webkit-transition-delay: 0.3s;
	    transition-delay: 0.3s;
	    opacity: 1;
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    transform: translate(0, 0);
	}
	.ed-room.featured-room	figcaption .room-price, 
	.ed-room.featured-room	figcaption .ed-member{
		opacity: 0;
	    -webkit-transform: translate(0, 10px);
	    -ms-transform: translate(0, 10px);
	    transform: translate(0, 10px);
	    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	    transition: opacity 0.45s, transform 0.45s;
	    -webkit-transition-delay: 0.2s;
	    transition-delay: 0.2s;
	}
	.ed-room.featured-room:hover figcaption .room-price, .ed-room.featured-room:hover figcaption .ed-member{
		-webkit-transition-delay: 0.4s;
	    transition-delay: 0.4s;
	    opacity: 1;
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    transform: translate(0, 0);
	}
	.ed-room.featured-room .corner-ribbon{
		opacity: 1;
	    -webkit-transition: opacity 0.3s;
	    transition: opacity 0.3s;
	    -webkit-transition-delay: 0.15s;
	    transition-delay: 0.15s;
	}
	.ed-room.featured-room:hover .corner-ribbon{
		-webkit-transition-delay: 0.1s;
	    transition-delay: 0.1s;
	    opacity: 0;
	}
}

/*=== 2.5 LIGHT SECTION ===*/
.light-section{
	background-color: #f4f6f9;
}
.event-testimonial{
	.underLine{
		margin-bottom: 30px;
	}
}
.ed-recentPost{
	width: 100%; 
	height: auto;
	position: relative;
	color: $text-light;
	font-weight: 500;
	@include border-radius;
	margin-bottom: 25px;
	@include tablet {
		margin-bottom: 0;
	}
	img{
		@include border-radius;
		width: 100%;
	}
}
.overlay{
	position: absolute;
	@include border-radius;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 20px 30px 0;
	width: 100%;
	display: block;
	@include mobile {
		padding: 60px 30px 0;
	}
	@include tablet {
		padding: 30px 10px 0 ;
	}
	@include desktops {
		padding: 60px 20px 0 ;
	}
	@include large-desktops {
		padding: 75px 30px 0 ;
	}
}
.overlay{
	background-color: rgba($secondary-color, 0.85);
}
.ed-recentPost-blank .overlay{
	background-color: rgba(0, 0, 0, 0.20);
}
.ed-recentPost:hover .overlay{
	@include tablet {
		padding: 10px 10px 0;
		background-color: rgba(0, 0, 0, 0.70);
	}
	@include desktops {
		padding: 30px 20px 0;
	}
	@include large-desktops {
		padding: 40px 30px 0;
	}
}
.ed-recentPost-highlight .overlay{
	background-color: rgba($primary-color, 0.85);
}
.ed-recentPost-blank .overlay.overlay-blank{
	background-color: rgba(0, 0, 0, 0.70) !important;
}
.event-date{
	font-size: 50px;
	line-height: 38px;
	display: block;
	@include desktops {
		font-size: 55px;
		line-height: 50px;
	}
	@include large-desktops {
		font-size: 70px;
		line-height: 60px;
	}
}
.event-month{
	font-size: 12px;
	@include large-desktops {
		font-size: 15px;
	}
} 
.ed-recentPost{
	h4{
		font-size: 15px;
		margin-bottom: 10px;
		@include tablet {
			font-size: 12px;
			margin-bottom: 5px;
		}
		@include large-desktops {
			font-size: 15px;
			margin-bottom: 10px;
		}
		a{
			color: $text-light;
			text-decoration: none;
		}
	}
	p{
		color: $text-light;
		font-size: 15px;
		margin-bottom: 5px;
		line-height: 20px;;
		@include tablet {
			font-size: 10px;
			margin-bottom: 0;
			line-height: 15px; 
		}
		@include desktops {
			font-size: 12px;
			margin-bottom: 3px;
			line-height: 18px; 
		}
		@include large-desktops {
			font-size: 15px;
			margin-bottom: 5px;
			line-height: 20px; 
		}
	}
}
.overlay .btn{
	border-color:$border-light;
    color: $text-light;
    padding: 11px 15px;
	font-size: 12px;
	position: absolute;
	width: 82%;
	bottom: 20px;
	@include mobile {
		padding: 13px 15px;
		font-size: 15px;
		margin-top: 30px;
		position: relative;
		bottom: auto;
		width: 100%;
	}
	@include tablet {
		padding: 8px 15px;
		font-size: 12px;
		margin-top: 13px;
		opacity: 0;
	    -webkit-transform: translate(0, 10px);
	    -ms-transform: translate(0, 10px);
	    transform: translate(0, 10px);
	    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	    transition: opacity 0.3s, transform 0.3s;
	}
	@include large-desktops {
    	padding: 11px 15px;
		font-size: 12px;
		margin-top: 15px;
	} 
    @include large-desktops {
    	padding: 13px 15px;
		font-size: 15px;
		margin-top: 25px;
	} 
	&:hover, &:focus{
		color: $text-light;
	}
}
.ed-recentPost:hover .overlay .btn{
	-webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
@include tablet {
	.ed-recentPost .overlay{
	    -webkit-transition: padding 0.3s, background-color 0.3s;
	    transition: padding 0.3s, background-color 0.3s;
	   
	}
}
#testimonialSlider{
	margin: 0;
}
.carousal_content{
	background-color: #ffffff;
	position: relative;
	@include box-shadow(0px, 2px, 2px, rgba(0, 0, 0, 0.15));
	@include border-radius;
	margin-bottom: 15px;
	p{
		margin: 0;
		line-height:25px;
		background: url(../images/home/quote.png) no-repeat left 5px top 10px;
		padding: 25px 20px;
		@include tablet {
			font-size: 13px;
			padding: 15px 15px;
		}
		@include desktops {
			font-size: 15px;
			padding: 25px 20px;
		}
	}
}
.carousal_content::after {
    position: absolute;
    bottom: -12px;
    right: 15px;
    content: " ";
    background: url(../images/home/arrowTest.png) no-repeat center center;
    width: 14px;
    height: 13px;
}
.thumb{
	width: 76px;
	height: 76px;
	float: right;
	margin-left: 20px;
	img{
		@include border-radius(50%);
	}
}
.thumb_title{
	display: inline-block;
	float: right;
	margin-top: 18px;
	span{
		display: block;
	}
}
.author_name{
	font-size: 16px;
	font-weight: 500;
}
.author_designation{
	font-size: 14px;
}
.testimonial{
	.flex-direction-nav{
		display: none;
	}
	.flex-control-nav {
	    bottom: 22px;
	    text-align: left !important;
	    @include tablet {
			bottom: -15px;
			text-align: center !important;
		}
		@include desktops {
			bottom: 22px;
			text-align: left !important;
		}
	}
	.flex-control-paging li a {
	    background: #666;
	    background: rgba(0, 0, 0, 0.3);
	    box-shadow:none;
	}
	.flex-control-paging li a:hover{
		background: #000;
	    background: rgba(0, 0, 0, 0.7);
	}
	.flex-control-paging li a.flex-active {
	    background: #000;
	    background: rgba(0, 0, 0, 0.7);
	}
}

/*=== 2.6 DARK SECTION ===*/
.dark-section{
	background-image: url('../images/home/full-img.jpg');
	background-attachment: fixed;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: $text-light;
}
.room-page .dark-section{
	background-image: url('../images/room/full-img1.jpg');
}
.weather{
	background: rgba(0, 0, 0, 0.5);
	@include border-radius;
	padding: 30px 35px;
	margin-bottom: 25px;
	@include tablet {
		padding: 30px 25px;
		margin-bottom: 0
	}
	@include desktops {
		padding: 30px 35px;
	}
	.third-headline{
		text-transform: capitalize;
		margin-bottom: 0;
	}
	span.ed-date{
		display: block;
		margin-bottom: 25px;
	}
	span.ed-temp{
		font-size: 60px;
		font-weight: 100;
		line-height: 60px;
		@include tablet {
			font-size: 45px;
			line-height: 34px;
		}
		@include desktops {
			font-size: 60px;
			line-height: 60px;
		}
	}
	span.ed-temp-type{
		@include tablet {
			font-size: 12px;
		}
		@include desktops {
			font-size: 15px;
		}
	}
	.icon-weather{
		display: inline-block;
	    float: right;
	    font-size: 80px;
	    margin-top: -20px;
	    color: rgba(255, 255, 255, 0.5);
		@include tablet {
			font-size: 48px;
			margin-top: 0;
		}
		@include desktops {
			font-size: 70px;
			margin-top: -8px;
		}
		@include large-desktops {
			font-size: 89px;
			margin-top: -29px;
		}
	}
}
.newsletter{
	background: rgba(0, 0, 0, 0.5);
	@include border-radius;
	padding: 30px 35px;
	@include tablet {
		padding: 34px 45px;
	}
	@include desktops {
		padding: 41px 55px;
	}
	.top-headline{
		margin: 0 0 20px 0;
		color: $text-light;
		text-align: left;
		font-size: 25px;
		@include tablet {
			font-size: 30px;
			margin: 0 0 25px 0;
		}
	}
}
.ed-form{
	display: table;
	width: 100%;
	.form-group{
		display: table-cell;
		margin: 0;
		padding: 0;
		float: left;
		width: 100%;
		display: block;
		margin-bottom: 15px;
		@include tablet {
			width: 220px;
			margin-bottom: 0;
			display: inline-block;
		}
		@include desktops {
			width: 344px;
		}
		@include large-desktops {
			width: 470px;
		}
		.form-control{
			height: 37px;
		    width: 100%;
		    padding: 6px 12px;
		    color: $text-light;
		    background: transparent;
		    border: 1px solid rgba(255, 255, 255, 0.50);
		    border-radius: 4px;		    
		    box-shadow: none;
		    @include tablet {
				height: 45px;
			}
			&:focus{
				border: 1px solid $primary-color;
			}
		}
	}
	.btn{
		display: block;
		margin: 0;
		height: 37px;
		padding: 8px 30px;
		@include tablet {
			display: table-cell;
			padding: 13px 35px;
			margin-left: 10px;
			height: 45px;
		}
		@include desktops {
			padding: 13px 35px;
		}
	}
}

/*=== 2.7 PRE FOOTER ===*/
.pre-footer{
	background-color: $dark-bg;
	color: $text-light;
	p{
		color: #d6d6d6;
		margin-bottom: 0;
		line-height: 25px;
	}
	.col-xs-12{
		margin-bottom: 25px;
		@include desktops {
			margin-bottom: 0;
		}
	}
	.col-xs-12:nth-child(4){
		margin-bottom: 0;
	}
	.col-xs-12:nth-child(3){
		margin-bottom: 25px !important;
		@include tablet {
			margin-bottom: 0 !important;
		}
	}
	.headline{
		margin-bottom: 25px;
		@include desktops {
			margin-bottom: 40px;
		}
	}
	h4{
		margin-bottom: 15px;
		@include desktops {
			margin-bottom: 25px;
		}
	}
}
.address{
	clear: right;
	@include desktops {
		clear: none;
	}
	address{
		margin-bottom: 15px;
		@include desktops {
			margin-bottom: 25px;
		}
	}
	span{
		line-height: 18px;
		font-weight: 700;
		display: block;
		span{
			font-weight: 300;
			display: inline;
		}
		a{
			font-weight: 300;
			color: $text-light;
		}
	}
	a.footer-map{
		display: block;
		margin-top: 20px;

		img{
			max-width: 100%;
			@include border-radius;
		}
	}
}
.photos{
	.bx-wrapper{
		margin: 0 auto;
		.bx-viewport {
		    box-shadow:none;
		    border: none;
		    left: 0;
		    background: transparent;
		    img{
		    	@include border-radius(3px);
		    }
		}
	}
	.bx-wrapper .bx-controls{
		display: none;
	}
}
.offers .ed-room{
	figcaption{
		padding: 35px 20px 0 45px;
		display: block;
		z-index: 1;
		background: rgba(0, 0, 0, 0.7);
		@include border-radius;
		@include tablet {
			padding: 60px 45px 0 60px;
		}
		@include desktops {
			padding: 35px 20px 0 45px;
		}
		p{
			font-size: 12px;
			@include mobile {
		    	font-size: 15px;
			}
			@include desktops {
				font-size: 12px;
			}
			@include large-desktops {
				font-size: 15px;
			}
			span{
				width: 10px;
				height: 10px;
				@include border-radius(50%);
				background-color: #8d959c;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}
.offers .room-price{
	font-size: 20px;
    @include mobile {
    	font-size: 30px;
	}
    @include tablet {
		font-size: 20px;
	}
	@include large-desktops {
		font-size: 30px;
	}
    span{
    	font-size: 12px;
    	@include mobile {
	    	font-size: 15px;
		}
    	@include tablet {
			font-size: 12px;
		}
		@include large-desktops {
			font-size: 15px;
		}
    }
}
.offers .ed-room a.primary-btn{
    font-weight: 500;
    border: none;
    position: absolute;
    right: 20px;
	bottom: 15px;
	padding: 8px 14px;
	font-size: 12px;
    @include mobile {
    	font-size: 15px;
    	bottom: 20px;
    	padding: 13px 20px;
	}
    @include desktops {
    	right: 20px;
    	bottom: 15px;
		padding: 8px 14px;
		font-size: 12px;
	}
	@include large-desktops {
		padding: 13px 20px;
		font-size: 15px;
	}
    &:hover, &:focus{
    	color: $text-light;
    }
}
.offers .ed-room-highlight{
	margin-top: 20px;
	margin-bottom: 0;
}
.offers .corner-ribbon{
	height: 69%;
	width:37%;
	@include mobile {
		width: 30%;
	}
	@include tablet {
		width: 57%;
	}
	@include desktops {
		width: 41%;
		height: 69%;
	}
	@include large-desktops {
		width: 35%; 
	}
}
.offers .corner-ribbon span {
	font-size: 16px;
	@include tablet {
		left: -95px;	
	}
	@include desktops {
		left: -27px;	
	}
}
.offers .corner-ribbon span::before {
	left: 0px; 
	top: 100%;
	@include tablet {
		left: 65px;	
	}
	@include desktops {
		left: 0;	
	}
}
.offers .corner-ribbon span::after {
	right: 0px; 
	top: 100%;
	@include tablet {
		right: 70px;	
	}
	@include desktops {
		right: 0;
	}
}

/*=== 2.8 FOOTER ===*/
footer{
	padding: 25px 0;
	background-color: #31373e;
	p{
		color: #8d9499;
		margin: 8px 0 0 0;
		a{
			color: #8d9499;
			@include transition(.3s);
			text-decoration: underline;
			&:hover{
				color: #8d9499;
			}
		}
	}
}
.copyright{
	text-align: center;
	margin-bottom: 15px;
	@include desktops {
		text-align: left;
		margin-bottom: 0;
	}
}
.social-icon{
	text-align: center;
	@include desktops {
		text-align: right;
	}
	ul{
		margin: 0;
		li{
			display: inline-block;
			margin: 0 5px 7px 5px;
			text-align: center;
			@include tablet {
				margin: 0 5px;
			}
			a{
				width: 38px;
				height: 38px;
				display: block;
				padding-top: 8px;
				font-size: 20px;
				background-color: rgba(255, 255, 255, 0.2);
				color: #31373e;
				@include border-radius(50%);
				@include transition(background-color 0.3s);
				&:hover{
					background-color: rgba(255, 255, 255, 1);
					text-decoration: none;
				}
				i.fa{
					display: block;
				    vertical-align: middle;
				    position: relative;
				    top: 2px;
				    left: 0;
				}
			}
		}
	}
}