/*================= 3. POPUP ==================*/
.white-popup-block.room-fullwidth {
    background: #f4f6f9;
    padding: 0;
    text-align: left;
    max-width: 770px;
    margin: 40px auto;
    position: relative;
    @include border-radius;
}
.popup-modal-dismiss{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	color: #ffffff;
	background:rgba(0, 0, 0, 0.75); 
	text-align: center;
	text-decoration: none;
	@include border-radius(50%);
	opacity: 1;
	&:hover, &:focus{
		background:rgba(0, 0, 0, 0.75);
		color: #ffffff;
		text-decoration: none;
	}
	span{
		font-size: 20px;
		line-height: 35px;
	}
}
.mfp-bg {
    background: rgba(0, 0, 0, 0.85);
    opacity: 1;
    filter: alpha(opacity=100);
}
.white-popup-block.room-fullwidth img{
	display: block;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 100%;
}
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right:none;
}
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    color: #ffffff;
    text-shadow: none;
}
.mfp-arrow-left:before{
	content: "\f104";
}
.mfp-arrow-right::after{
    content: "\f105";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

/*=== 3.1 ROOM DETAIL POPUP ===*/
.popup-inner{
	position: relative;
	padding: 30px 15px 15px 25px;
	@include mobile {
		padding: 40px 25px 25px 35px;
	}
	.headline{
		color: $secondary-color;
	}
	.primary-btn{
		margin-top: 15px;
		@include tablet {
			position: absolute;
			top: 40px;
			right: 25px;
			margin-top: 0;
		}
	}
}
.ed-tab{
	margin-top: 45px;
	margin-right: 0;
	@include tablet {
		margin-top: 65px;
		margin-right: 105px;
	}
	.nav-tabs{
		border: none;
		li a{
			font-weight: 500;
			font-size: 13px;
			color: $text-color;
			border:none;
			padding: 5px 5px;
			margin-right: 5px;
			@include mobile {
				font-size: 15px;
			}
			@include tablet {
				padding: 8px 15px;
				margin-right: 10px;
			}
			&:hover{
				background-color: transparent;
			}
		}
	}
	.tab-control{
		border-bottom: 2px solid #ffffff;
		margin-top: -2px;
	}
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    color: $text-color;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $primary-color;
}
.ed-tab{
	.tab-content{
		font-weight: 400;
		font-size: 13px;
		color: $text-color;
		@include mobile {
			font-size: 15px;
		}
		.tab-pane{
			margin-top: 30px;
		}
		ul li{
			display: inline-block;
			width: 49%;
			margin-bottom: 25px;
			@include tablet {
				width: 32%;
			}
			span{
				font-size: 18px;
				margin-right: 10px;
				color: $primary-color;
				@include mobile {
					font-size: 22px;
				}
			}
		}
	}
}

/*=== 3.2 GALLERY POPUP ===*/
