/*================= 18. PRICE TABLE ==================*/
.ed-price-table{
	margin-bottom: 40px;
	@include desktops {
		margin-bottom: 60px;
	}
	&:last-child{
		margin-bottom: 0;
	}
}
.ed-price-table-inner{
	padding: 15px;
	border: 1px solid $border-color;
	@include border-radius;
	text-align: center;
	margin-bottom: 30px;
	@include mobile {
		padding: 30px;
	}
	@include tablet {
		padding: 15px;
		margin-bottom: 0;
	}
	@include desktops {
		padding: 30px;
	}
	.btn{
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 10px;
		@include mobile {
			padding-left: 30px;
			padding-right: 30px;
			margin-top: 20px;
		}
		@include tablet {
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 10px;
		}
		@include desktops {
			padding-left: 30px;
			padding-right: 30px;
			margin-top: 20px;
		}
	}
}
.ed-price-table h3{
	font-size: 20px;
	color: $text-color;
	margin-bottom: 30px;
	font-weight: 400;
}
.ed-price-table span{
	font-size: 15px;
	color: $text-color;
	margin-bottom: 10px;
	font-weight: 400;
	display: block;
	@include mobile {
		margin-bottom: 20px;
	}
	@include tablet {
		margin-bottom: 10px;
	}
	@include desktops {
		margin-bottom: 20px;
	}
}
.price-title{
	padding: 25px 0;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
	@include border-radius;
	h2{
		font-size: 35px;
		line-height: 35px;
		color: $text-light;
		margin-bottom: 0;
		font-weight: 300;
		@include mobile {
			font-size: 48px;
			line-height: 48px;
		}
		@include tablet {
			font-size: 35px;
			line-height: 35px;
		}
		@include desktops {
			font-size: 48px;
			line-height: 48px;
		}
	}
	span{
		font-size: 14px;
		color: $text-light;
		margin-bottom: 0;
	}
}
.price-table-dark .price-title{
	background: $dark-bg;
}
.price-table-dark .btn{
	background: $dark-bg;
}
.price-table-light .price-title{
	background: $primary-color;
}
.price-table-top {
	text-align: center;
	position: relative;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	img{
		width: 100%;
	}
	h3{
		font-size: 15px;
		margin-bottom: 15px;
		color: #ffffff;
		@include mobile  {
			font-size: 20px;
			margin-bottom: 23px;
		}
		@include tablet {
			font-size: 15px;
			margin-bottom: 15px;
		}
		@include large-desktops  {
			font-size: 20px;
			margin-bottom: 23px;
		}
	}
	.overlay{
		background: rgba(0, 0, 0, 0.50);
		padding: 15px 0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		@include mobile  {
			padding: 25px 0;
		}
		@include tablet {
			padding: 15px 0;
		}
		@include desktops  {
			padding: 25px 0;
		}
	}
	.price-title{
		padding: 0;
		margin: 0;
		h2{
			font-size: 30px;
			line-height: 30px;
			color: $text-light;
			margin-bottom: 0;
			font-weight: 300;
			@include mobile {
				font-size: 48px;
				line-height: 48px;
			}
			@include tablet {
				font-size: 30px;
				line-height: 30px;
			}
			@include large-desktops  {
				font-size: 48px;
				line-height: 48px;
			}
		}
		span{
			font-size: 12px;
			color: $text-light;
			margin-bottom: 0;
			@include mobile {
				font-size: 14px;
			}
			@include tablet {
				font-size: 12px;
			}
			@include large-desktops  {
				font-size: 14px;
			}
		}
	}
}
.price-table-four-col .price-table-top .overlay{
	padding: 45px 0;
	@include mobile  {
		padding: 75px 0;
	}
	@include tablet {
		padding: 15px 0;
	}
	@include desktops  {
		padding: 25px 0;
	}
}
