
* {
    outline: 0;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: $text-color;
    font-weight: 300;
}
ul{
	margin:0;
	padding:0;
	li{
		list-style-type:none;
	}
}
p{
    font-size: 15px;
    color: $text-color;
    font-weight: 300;
    line-height: 20px;
}
h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
}
h4{
   font-size: 15px;
   font-weight: 700;
   margin-bottom: 25px;  
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
