/*================= 5. ROOM GRID3 ==================*/
/*=== 5.1 PAGE BANNER ===*/
.header + .page-banner{
	padding-top: 80px;
	@include tablet {
		padding-top: 105px;
	}
}
.page-banner{
	font-weight: 300;
	color: #ffffff;
	position:relative;
	img{
		height: 189px;
		width: 100%;
	}
	.overlay{
		padding: 0;
		background-color: rgba(0, 0, 0, 0.65);
	}
	.banner-inner{
		position: absolute;
		bottom: 40px;
		z-index: 9;
		.top-headline{
			text-align: left;
			color: #ffffff;
		}
		p{
			margin: 0;
			font-size: 15px;
			color: #ffffff;
			@include tablet {
				font-size: 18px;
			}
		}
	}
}

/*=== 5.2 MAIN CONTENT ===*/
.grid-list{
	display: none;
	float: right;
	@include tablet {
		display: inline-block;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			margin-left:10px;
			a{
				text-decoration: none;
				color: #d7d9da;
				font-size: 20px;
			} 
		}
	}
}
.filter-container .col-xs-12{
	margin-bottom: 40px;
	@include desktops {
		margin-bottom: 60px;
	}
}
.controls{
	border-bottom: 2px solid #f0f0f0;
	margin: 0 0 25px 45px;
	display: inline-block;
	position: relative;
	@include tablet {
		margin: 0 0 45px 45px;
	}
	span{
		font-size: 27px;
		position: absolute;
		left: -45px;
		top: 5px;
		color: #d3d5d7;
		@include tablet {
			left: -45px;
			bottom: 0;
			top: auto;
			font-size: 27px;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		display: inline-block;
		margin-bottom: -2px;
		li{
			display: inline-block;
			margin: 0;
			cursor: pointer;
			border-bottom: 2px solid transparent;
			font-weight: 500;
			padding: 0 5px 5px;
			font-size: 12px;
			@include tablet {
				margin: 0 9px;
				font-size: 15px;
			}
			@include desktops {
				margin: 0 15px;
			}
		}
		li.active{
			border-bottom: 2px solid $primary-color;
		}
		li:first-child{
			margin-left: 0;
		}
		li:last-child{
			margin-right: 0;
		}
	}
}
.mix{
	display: none;
}
.feature-icon span{
	display: inline-block;
	font-size: 20px;
	margin: 0 5px;
}
.ed-room.featured-room .feature-icon{
	margin-bottom: 20px;
	@include tablet {
		margin-top: 18px;
		opacity: 0;
		-webkit-transform: translate(0, 50px);
	    -ms-transform: translate(0, 50px);
	    transform: translate(0, 50px);
	    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	    transition: opacity 0.3s, transform 0.3s;
	    -webkit-transition-delay: 0.35s;
	    transition-delay: 0.35s;
	}
	@include desktops {
		margin-top: 30px;
	}
	span{
		display: inline-block;
		font-size: 20px;
		margin: 0 5px;
		@include tablet {
			font-size: 15px;
			margin: 0 4px;
		}
		@include desktops {
			font-size: 20px;
			margin: 0 5px;
		}
	}
}
@include tablet {
	.ed-room.featured-room:hover .feature-icon{
		opacity: 1;
		-webkit-transition-delay: 0.1s;
	    transition-delay: 0.1s;
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    transform: translate(0, 0);	
	}
}

/*=== 5.3 PAGINATION ===*/
.pagination-nav{
	text-align: center;
}
.content-inner .pagination-nav{
	text-align: right;
}
.pagination{
	margin: 0 auto;
	font-weight: 500;
}
.pagination>li>a, 
.pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 16px;
    line-height: 1.42857143;
    color: $text-color;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid $primary-color;
    margin: 0 3px 10px;
    @include tablet {
		margin: 0 3px;
		padding: 12px 20px;
	}
}
.pagination>li>a{
	display: inline-block;
	@include border-radius;
} 
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover {
    z-index: 2;
    color: $primary-color;
    background-color: transparent;
    border-color: $primary-color;
    @include transition(all 0.3s);
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 3;
    color: $text-light;
    cursor: default;
    background-color: $primary-color;
    border-color: $primary-color;
    @include transition(all 0.3s);
}

/*================= 6. ROOM GRID4 ==================*/
.grid-four{
	.ed-room.featured-room figcaption {
		@include large-desktops {
		    padding: 15px;
		}
	}
	@include tablet {
		.left-btn{
			padding-right: 8px;
		}
		.right-btn{
			padding-left: 8px;
		}
	}
	.ed-room.featured-room .corner-ribbon {
		@include desktops {
		    width: 59%;
		    height: 62%;
		}
		@include large-desktops {
		    width: 48%;
    		height: 52%;
		}
	}
}

/*================= 7. ROOM LIST SIDEBAR ==================*/
.content-inner{
	.room-fullwidth .room-text-inner{
		@include tablet {
		    padding: 5px 0 ;
		}
		@include desktops {
		    padding: 15px 15px 11px 0;
		}
		@include large-desktops {
		    padding: 18px 15px 15px 0;
		}
	}
	.room-fullwidth .btn{
		@include tablet {
		    width: 90px;
			margin-right: 10px;
		}
		@include desktops {
		    width: 110px;
		}
		@include large-desktops {
		    width: 150px;
		}
	}
	.room-fullwidth .room-img{
		@include desktops {
		    padding-left: 30px;
		}
	}
	.room-fullwidth .room-text{
		@include desktops {
		    padding-left: 30px;
		}
	}
	.room-fullwidth .feature-icon span {
		@include tablet {
		    font-size: 15px;
	    	margin: 0 3px;
		}
	    @include desktops {
		    font-size: 20px;
	    	margin: 0 5px;
		}
	}
	.room-fullwidth p {
		@include tablet {
		    font-size: 12px;
		    line-height: 16px;
		}
		@include desktops {
		    font-size: 14px;
		    line-height: 20px;
		}
	}
}

/*================= 8.ROOM LIST FULLWIDTH ==================*/
.room-fullwidth{
	.col-xs-12 {
	    margin-bottom: 0;
	}
	.room-img{
		margin-bottom: 25px;
		@include border-radius;
		@include tablet {
		    padding-right: 0;
		    margin-bottom: 0;
		    border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		img{
			width: 100%;
		}
	}
	.room-text{
		@include tablet {
			border-top: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
			border-right: 1px solid $border-color;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		    padding-left: 30px;
		}
		@include large-desktops {
		    padding-left: 50px;
		}
	}
	.room-text-inner{
		@include tablet {
		    padding: 5px 15px 5px 0;
		}
		@include desktops {
		    padding: 10px 25px 10px 0;
		}
		@include large-desktops {
		    padding: 20px 35px 15px 0;
		}

	}
}
.room-fullwidth-inner{
	margin-bottom: 40px;
	@include large-desktops {
	    margin-bottom: 60px;
	}
}
.filter-container .room-fullwidth{
	margin-top:-16px;
}
.filter-container .room-fullwidth.room-list{
	margin-top:0;
}
.room-fullwidth{
	width: 100%;
	img{
		max-width: 100%;
		display: block;
	}
	.headline{
		font-size: 26px;
		margin-bottom: 25px;
		@include tablet {
			font-size: 20px;
		    margin-bottom: 5px;
		}
		@include desktops {
		    margin-bottom: 15px;
		}
		@include large-desktops {
			font-size: 26px;
		    margin-bottom: 25px;
		}
		a{
			color: $secondary-color;
			text-decoration: none;
		}
	}
	p{
		font-size: 14px;
	}
	.feature-icon{
		margin: 22px 0 21px;
		@include tablet {
		    margin: 0 0 5px;
		}
		@include desktops {
		    margin: 10px 0 7px;
		}
		@include large-desktops {
		    margin: 22px 0 21px;
		}
	}
	.room-price{
		position: relative;
		bottom: auto;
	}
	.ed-member{
		position: relative;
		right: auto;
		bottom: auto;
		float: right;
	}
	.room-btn{
		margin-top: 20px;
		@include tablet {
			margin-top: 4px;
		}
		@include desktops {
			margin-top: 10px;
		}
		@include large-desktops {
			margin-top: 20px;
		}
	}
	.btn{
		width: 120px;
		margin-right: 10px;
		@include mobile {
		    width: 150px;
			margin-right: 20px;
		}
		@include tablet {
		    width: 120px;
			margin-right: 15px;
		}
		@include desktops {
		    width: 150px;
			margin-right: 20px;
		}
	}
	.btn:last-child{
		margin-right: 0;
	}
}

/*================= 9. SINGLE ROOM ==================*/
.single-page .main-content{
	padding-top: 134px;
	@include tablet {
	    padding-top: 115px;
	}
}
.single-page .single-content{
	padding: 45px 0;
	@include large-desktops {
	    padding: 70px 0;
	}
}

/*=== 9.1 SINGLE SLIDER ===*/
.flexslider {
    margin: 0 0 40px;
    background: transparent;
    border: none;
    box-shadow: none;
    img{
    	@include border-radius;
    }
}
.flex-direction-nav a {
    cursor: pointer;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    margin: 0;
}
.flex-direction-nav a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    content: "\f104";
    color: #ffffff;
    text-shadow: none;
}
.flex-direction-nav .flex-prev {
  left: 0;
}
.flex-direction-nav .flex-next {
  right: 0;
}
.flex-direction-nav a.flex-next:before {
    content: "\f105";
}
.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;
}

/*=== 9.2 ROOM DETAILS ===*/
.single-content .room-headline.headline{
	color: $secondary-color;
	margin-bottom: 20px;
	margin-top: 0;
	border: none;
	display: block;
	@include tablet {
	    display: inline-block;
	    margin-bottom: 30px;
	    margin-top: 15px;
	}
}
.single-book{
	margin-bottom: 40px;
	@include tablet {
	    float: right;
	    margin-bottom: 0;
	    margin-top: 20px;
	}
	.btn{
		float: right;
		@include tablet {
		    float: none;
		}
	}
}
.single-description ul{
	@include tablet {
		margin: 0 -10px;
	}
	li{
		margin: 20px 0 0;
		p.single-icon{
			width:100%;
			padding: 10px 0;
			display: inline-block;
			border: 1px solid $border-color;
			@include border-radius;
			font-size: 14px;
			font-weight: 400;
			margin: 0;
			span{
				font-size: 18px;
				padding: 0 15px;
				color: $primary-color;
				vertical-align: middle;
				@include mobile {
					font-size: 26px;
				}
			}
		}
	}
}
.single-content .headline{
	color: $text-color;
	display: block;
	margin: 60px 0 5px;
	padding-bottom: 20px;
	border-bottom: 1px solid $border-color;
	font-size: 26px;
}
.single-description p{
	margin-bottom: 0;
	margin-top: 30px;
	font-size: 15px !important;
	line-height: 24px !important;
} 
.ed-photo{
	img{
		display: block;
		margin-top: 30px;
		@include border-radius;
		width: 100%;
	}
}
.single-page .check-area, .booking-page .check-area{
	margin: 60px 0;
	padding: 25px 30px 10px;
	background: $dark-bg;
	@include border-radius;
	@include desktops {
		padding: 25px 30px;
	}
}
.booking-page .check-area{
	margin: 60px 0 40px;
}

/*=== 9.3 COMMENT AREA ===*/
.comments{
	color: $text-color;
	margin-top: 30px;
	img{
		@include border-radius;
	}
	h4{
		font-size: 16px;
		font-weight: 700;
		color: $text-color;
		margin-bottom: 10px;
	}
	.comment-date{
		display: inline-block;
		margin-right: 10px;
	}
	p{
		margin: 10px 0 0;
		font-size: 15px;
		line-height: 24px;
	}
}
.media{
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 0;
	}
}
.media-left, .media>.pull-left {
    padding-right: 15px;
}
.ed-rating{
	color: $secondary-color;
}
.comment-form{
	margin-top: 30px;
	.form-control{
		padding: 15px;
		height: 50px;
		border: 1px solid $border-color;
		width: 100%;
		margin-bottom: 20px;
		color: $text-color;
		font-size: 15px;
		font-weight: 400;
		box-shadow: none;
		color: #737373;
		&:focus{
			border: 1px solid $primary-color;
		}
	}
	textarea.form-control{
		height: auto;
	}
	.ed-rating{
		font-size: 16px;
		font-weight: 700;
		margin: 4px 7px 30px 0;
		float: left;
		color: $text-color;
		i{
			color: #e6eaf0;
		}
	}
	.primary-btn{
		padding-right: 25px;
		padding-left: 25px;
		float: right;
	}
}
.comment-form .form-control::-webkit-input-placeholder{ 
	color: #c3c3c3;
	font-size: 15px;
	font-weight: 400;
}
.comment-form .form-control::-moz-placeholder{ 
	color: #c3c3c3;
	font-size: 15px;
	font-weight: 400;
}
.comment-form .form-control:-ms-input-placeholder{ 
	color: #c3c3c3;
	font-size: 15px;
	font-weight: 400;
}
.comment-form .form-control:-moz-placeholder { 
	color: #c3c3c3;
	font-size: 15px;
	font-weight: 400;
}
.rating-container .clear-rating, .rating-container .caption {
	display: none;
}
.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #fde16d;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke:0;
    text-shadow:none;
    i{
    	font-size: 16px;
    	color: $secondary-color
    }
}
.rating-container .empty-stars i{
	font-size: 16px;
	color: #e6eaf0;
}