/*================= 4. SIDEBAR ==================*/
.sidebar{
	margin-top: 45px;
	@include tablet {
		margin: 0;
	}
}
.block{
	border:1px solid $border-color;
	color: $text-color;
	.headline{
		color: #979797;
		margin: 20px 0  0 !important;
		padding: 0 0 15px 15px;
		border-bottom:1px solid $border-color;
		@include border-radius;
	}
	.block-inner{
		padding: 15px;
	}
}
.block:nth-child(n+2){
	margin-top: 30px;
}

/*=== 4.1 CHECK IN ===*/
.check-in .ed-datepicker {
    height: 48px;
    border: 1px solid $border-color;
    margin-bottom: 5px;
    @include tablet {
		height: 40px;
	}
	@include desktops {
		height: 48px;
	}
    .form-control {
	    height: 46px;
	    color:$text-color;
	    padding-left: 10px;
	    @include tablet {
			height: 38px;
		}
		@include desktops {
			height: 46px;
		}
	}
	.input-group-addon .icomoon-calendar {
	    color: #b8bebf;
	}
	.form-control::-webkit-input-placeholder{ 
		color:$text-color;
	}
	.form-control::-moz-placeholder{ 
		color:$text-color;
	}
	.form-control:-ms-input-placeholder{ 
		color:$text-color;
	}
	.form-control:-moz-placeholder { 
		color:$text-color;
	}
}
.page .datepicker .datepicker-switch:hover, 
.page .datepicker .next:hover, 
.page .datepicker .prev:hover, 
.page .datepicker tfoot tr th:hover {
    color: $primary-color;
}
.page .datepicker table tr td.active.active.focus,
.page .datepicker table tr td.active.active:focus, 
.page .datepicker table tr td.active.active:hover, 
.page .datepicker table tr td.active.highlighted.active.focus, 
.page .datepicker table tr td.active.highlighted.active:focus, 
.page .datepicker table tr td.active.highlighted.active:hover, 
.page .datepicker table tr td.active.highlighted:active.focus, 
.page .datepicker table tr td.active.highlighted:active:focus, 
.page .datepicker table tr td.active.highlighted:active:hover, 
.page .datepicker table tr td.active:active.focus, 
.page .datepicker table tr td.active:active:focus, 
.page .datepicker table tr td.active:active:hover {
    border-color: $primary-color;
    background:$primary-color;
}
.page .datepicker table tr td.active.active, 
.page .datepicker table tr td.active.highlighted.active, 
.page .datepicker table tr td.active.highlighted:active, 
.page .datepicker table tr td.active:active {
    border-color: $primary-color;
    background: $primary-color;
}
.page .datepicker table tr td.day:hover, 
.page .datepicker table tr td.focused {
    background: $primary-color;
}
.check-in{
	.cs-select.ed-select {
	    border: 1px solid $border-color;
	    margin: 5px 0;
	}
	div.cs-select {
	    height: 48px;
	    font-size: 16px;
	    color:$text-color;
	    @include tablet {
			height: 40px;
			font-size: 14px;
		}
		@include desktops {
			height: 48px;
			font-size: 16px;
		}
	}
	.cs-select span {
	    padding: 6px 12px 7px;
	    @include tablet {
			padding: 6px 8px 7px;
		}
		@include desktops {
			padding: 6px 12px 7px;
		}
	}
	.cs-select > span::after {
		color: rgba(0, 0, 0, 0.3);
	}
	.cs-select .cs-selected > span::after {
	    color: $primary-color;
	}
	.cs-select ul li:hover, .cs-select li.cs-selected{
		background-color: rgba(0, 0, 0, 0.07);
		color: $primary-color;
	}
	.ckech-btn{
		height: 48px;
		margin-top: 5px;
		@include tablet {
			height: 40px;
		}
		@include desktops {
			height: 48px;
		}
	}
	.col-xs-6:nth-child(2n-1){
		padding-left:5px; 
	}
	.col-xs-6:nth-child(2n){
		padding-right:5px; 
	}
}

/*=== 4.2 RECENT POST ===*/

.Post-left{
	width: 75px;
	height: 75px;
	float: left;
	position: relative;
	margin-right: 20px;
	font-weight: 500;
	text-align: center;
	clear: left;
	.overlay{
		padding: 10px 5px 0;
		color: $text-light;
		border-radius: 0;
		.event-date{
			font-size: 41px;
			line-height: 37px;
		}
		.event-month{
			font-size: 14px;
			text-transform: uppercase;
		}
	}
}
.Post-right{
	h4 {
		a{
			color: $text-color;
			font-weight: 700;
			text-decoration: none;
			&:hover{
				color: $primary-color;
				@include transition(color 0.3s)
			}
		}
	}
	p{
		margin: 0;
		font-size: 12px;
		@include mobile {
			font-size: 15px;
		}
		@include tablet {
			font-size: 12px;
		}
		@include desktops {
			font-size: 15px;
		}
	}
	p.event-time{
		font-weight: 500;
		margin-bottom: 5px;
		@include tablet {
			margin-bottom: 0;
		}
		@include desktops {
			margin-bottom: 5px;
		}
	}
}
.ed-Post {
	li{
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom:1px solid $border-color;
	}
	li:last-child{
		border-bottom:none;
		margin: 0;
		padding: 0;
	}
	li:nth-child(2n-1) .overlay{
		background-color: rgba($primary-color, 0.85);
	}
	li:nth-child(2n) .overlay{
		background-color: rgba($secondary-color, 0.85);
	}
}